<link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../triplat-routing/triplat-routing.html">
<link rel="import" href="../triplat-responsive-viewport/triplat-responsive-viewport.html">
<link rel="import" href="../triplat-signout-button/triplat-signout-button.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../triplat-responsive-viewport/triplat-responsive-viewport.html">

<link rel="import" href="../triapp-accessibility/triapp-accessibility.html">

<link rel="import" href="ucpage-campus-select.html">
<link rel="import" href="ucpage-walkthru.html">
<link rel="import" href="uccomp-calculator.html">
<link rel="import" href="../triview-space-assessment/tricomp-accessibility.html">
<link rel="import" href="../triview-space-assessment/tricomp-error-prompt.html">

<link rel="import" href="./elements/json-ds.html">


<dom-module id="uc-infrastructure">

	<style>
		:host {
			@apply(--layout-fit);
			@apply(--layout-vertical);
			background-color: var(--tri-body-background-color);
			width: 100vw;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
		}

		#logo {
			width: 34px;
			height: auto;
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 4px;
		}

		paper-header-panel {
			@apply(--layout-flex);
		}

		paper-toolbar {
			background-color: var(--tri-header-background-color);
			color: var(--tri-header-color);
			font-size: 0.85em;
		}

		paper-toolbar section {
			padding-left: 30px;
		}

		paper-toolbar,
		paper-toolbar /deep/ div.toolbar-tools {
			height: 45px;
		}

		.toolbar-title {
			@apply(--layout-flex);
			font-family: "Helvetica Neue", Helvetica, Arial, Roboto;
			font-size: 20px;
			line-height: 28px;
			margin-left: 4px;
			pointer-events: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		triplat-route-selector {
			@apply(--layout-fit);
		}

		iron-pages {
			@apply(--layout-fit);
		}

		/*paper-toast {
			left: inherit;
			right: 20px;
		}*/

		.accessibility {
			display: none;
		}

		.error-dialog {
			overflow: auto;
		}
	</style>
	<template>
		<uccomp-calculator id='calculator'></uccomp-calculator>

		<triapp-accessibility></triapp-accessibility>
		<tricomp-accessibility></tricomp-accessibility>

		<triplat-ds id="currentUserDs" name="currentUser" data="{{currentUser}}"></triplat-ds>

		<triplat-ds id="securityDS" name="security" data="{{security}}"></triplat-ds>

		<triplat-route id="walkthruAssessmentRoute" name="walkthruAssessment" path="/:campusId"></triplat-route>
		<triplat-route id="campusSelectRoute" name="campusSelect" path="/"></triplat-route>

		<paper-dialog modal with-backdrop id="errorDialog" class="error-dialog" aria-label="Error dialog">
			<tricomp-error-prompt error-details="{{_errorDetails}}" is-admin="{{currentUser._Admin}}" on-error-details-collapse-or-expand="_handleErrorDetailsCollapseOrExpand"></tricomp-error-prompt>
		</paper-dialog>

		<paper-header-panel mode="seamed" role="region" aria-labelledby="menu">
			<paper-toolbar aria-labelledby="menu">
				<span class="toolbar-title"><img id='logo' src='img/icamp-logo2.png' /><b>ICAMP</b> - Infrastructure</span>
				<section>
					<span><span>{{currentUser.firstName}}</span> <span>{{currentUser.lastName}}</span></span>
				</section>
				<section>
					<triplat-signout-button></triplat-signout-button>
				</section>
			</paper-toolbar>

			<triplat-route-selector>
				<iron-pages>
					<ucpage-campus-select id="campusPage" default-route route="campusSelect" currentUser='{{currentUser}}'></ucpage-campus-select>
					<ucpage-walkthru id="walkthruPage" route="walkthruAssessment"></ucpage-walkthru>
				</iron-pages>
			</triplat-route-selector>

		</paper-header-panel>

		<div>
			<paper-toast id="savedToast" text="Item saved!"></paper-toast>
		</div>

		<triplat-responsive-viewport min-width="899"></triplat-responsive-viewport>
	</template>
</dom-module>
<script>
	let root;

	Polymer({
		is: "uc-infrastructure",

		behaviors: [TriPlatViewBehavior],

		properties: {

			createAssessmentPermission: Boolean,
		},

		ready: function() {
			var __dictionary__title = "Infrastructure Assessment";
			document.title = __dictionary__title;

			let meta = document.createElement('meta');
			meta.setAttribute('name', 'viewport');
			meta.setAttribute('content', 'width=device-width, user-scalable=no, minimal-ui');
			document.head.appendChild(meta);

			window.addEventListener('resize', () => this._fixHeight());
			this._fixHeight();
		},

		_fixHeight: function() {
			let vh = window.innerHeight * 0.01;
			this.customStyle['--vh'] = `${vh}px`;
			this.updateStyles();
		},

		observers: [],

		listeners: {
			'calculator-open' : '_openCalculator',
			'walkthruPage.item-saved': '_showSavedToast',
			'walkthruPage.assessment-in-progress': '_showAssessmentInProgressToast',
			'walkthruPage.assessment-completed': '_showAssessmentCompletedToast',

			'walkthruPage.space-marked-discrepant': '_showSpaceMarkedDiscrepantCreatedToast',
			'walkthruPage.space-marked-non-discrepant': '_showSpaceMarkedNonDiscrepantCreatedToast',
			'walkthruPage.assessment-log-updated': '_showLogCommentsUpdatedToast',

			"ds-add-error": "_handleDSError",
			"ds-create-error": "_handleDSError",
			"ds-delete-error": "_handleDSError",
			"ds-get-error": "_handleDSError",
			"ds-perform-action-error": "_handleDSError",
			"ds-remove-error": "_handleDSError",
			"ds-update-error": "_handleDSError"
		},


		_openCalculator : function(e) {
			this.$.calculator.open();
		},

		_handleDSError : function(e) {
			var errorDetails = e.detail;
			if (errorDetails) this.set("_errorDetails", errorDetails);
			this.$.errorDialog.open();
		},

		_handleErrorDetailsCollapseOrExpand : function() {
			this.async(function() {
				this.$.errorDialog.center();
			}.bind(this), 300);
		},

		_showSavedToast: function(e) {
			this.$.savedToast.show();
		},
	});
</script>
