<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../triplat-date-picker/triplat-date-picker.html">
<link rel="import" href="../triplat-progress-gauge/triplat-progress-gauge.html">

<dom-module id="uccomp-campus-card">

	<style>

		.progress-container {
			@apply(--layout-vertical);
			@apply(--layout-center);
			width: 80px;
			min-width: 0;
			padding: 20px 0;
		}
		.progress-container[hide-drill] {
			padding-right: 20px;
		}

		.progress-label {
			min-width: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding-top: 7px;
			font-size: 13px;
		}

		.progress-gauge {
			--triplat-progress-gauge-percent-font-size: 14px;
			--triplat-progress-gauge-value-font-size: 24px;
			font-weight: bold;
			width: 70px;
			height: 70px;
		}

		:host {
			cursor: pointer;
			background-color: var(--tri-primary-content-background-color);
			border: 1px solid var(--tri-primary-content-accent-color);
			color: var(--tri-primary-content-color);

			@apply(--layout-horizontal);
			@apply(--uccomp-campus-card);
		}

		.card-title {
			font-weight: bold;
		}

		.date {
			height: 300px;
		}

		.drill {
			width: 40px;
			height: 40px;
			color: var(--tri-primary-color);
			@apply(--layout-self-center);
		}

		.info-container {
			@apply(--layout-flex);
			min-width: 0;
			padding: 20px 0 20px 20px;
			font-size: 1.25em;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

    .info-container img {
      width: 64px;
			margin-right: 20px;
    }

		.info-line {
  			overflow: hidden;
  			white-space: nowrap;
  			text-overflow: ellipsis;
		}​


	</style>

	<template>

		<div class="info-container">
      <img class='icon' src='img/campus-icon.png' />
			<div class="info-line card-title">{{name}}</div>
		</div>

	</template>

</dom-module>

<script>
	Polymer({

		is: "uccomp-campus-card",

		properties: {
			name: String,
		},

		_handleKeyPress: function(e) {
			var keyCode = e.keyCode;
			this.fire("drill-key-press", {keyCode: keyCode});
		}

	});
</script>
