<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-selector/iron-selector.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<link rel="import" href="../triview-space-assessment/tricomp-walkthru-floor-plan.html">
<link rel="import" href="uccomp-walkthru-list.html">
<link rel="import" href="../triview-space-assessment/tricomp-assessment-details.html">
<link rel="import" href="../triview-space-assessment/tricomp-search-input.html">


<dom-module id="uccomp-walkthru-main">

	<style>
		:host {
			@apply(--layout-flex);
			@apply(--layout-vertical);
			/*border: 1px solid var(--tri-primary-content-accent-color);*/
			max-width: 100%;
		}

		.header {
			@apply(--layout-horizontal);
			border-bottom: 1px solid var(--tri-primary-content-accent-color);
		}

		iron-selector.tabs-container {
			@apply(--layout-horizontal);
			color: var(--tri-primary-color);
		}

		@media (max-width: 900px) {
			.tab {
				padding-left: 0px;
			}

			.tab div span {
				display: none;
				padding-right: 20px;
			}

			.tab div iron-icon {
				padding: 0px 10px;
			}
		}

		@media (min-width: 901px) {
			.tab {
				padding-left: 10px;
			}
		}

		.tab {
			@apply(--layout-horizontal);
			@apply(--layout-end);
			padding-bottom: 7px;
			height: 37px;
			cursor: pointer;
			z-index: 6;
		}

		.tab div {
			@apply(--layout-horizontal);
			@apply(--layout-center);
		}

		.tab div span {
			padding-left: 5px;
			padding-right: 20px;
		}

		.tab.iron-selected {
			position: relative;
			/*border-bottom: 1px solid #E0E0E0;*/
			color: #003E68;
			font-weight: 700;
			cursor: context-menu;
		}

		.tab.iron-selected:after,
		.tab.iron-selected:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		.tab.iron-selected:after {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 10px;
			margin-left: -10px;
		}

		.tab.iron-selected:before {
			border-color: rgba(224, 224, 224, 0);
			border-top-color: #E0E0E0;
			border-width: 12px;
			margin-left: -12px;
		}

		iron-pages.main {
			border-right: 1px solid var(--tri-primary-content-accent-color);
		}

		.search-bar {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-end-justified);
			@apply(--layout-self-center);
			@apply(--layout-center);
			/*border-left: 1px solid #E1E1E1;*/
			margin-right: 10px;
		}

		tricomp-search-input {
			@apply(--layout-self-center);
			max-width: 400px;
			height: 30px;
			margin-left: 10px;
		}

		iron-pages {
			@apply(--layout-flex);
			@apply(--layout-vertical);
		}

		.main {
			@apply(--layout-flex)
		}

		.accessibility {
			display: none;
		}

		#addrecord {
			white-space: nowrap;
			display: flex;
			flex-direction: row;
			flex-wrap: 0;

		}

		#addrecord>*+* {
			margin-left: 10px;
			flex: 1 1 auto;
		}
	</style>

	<template>

		<triplat-ds id='assessmentRecordsDs' name='cstInfrastructureDTO' data='{{_allRecords}}' filtered-data='{{_filteredRecords}}'>
			<triplat-query>
				<triplat-query-filter name='campusId' operator='equals' value='{{campusId}}'></triplat-query-filter>
				<triplat-query-and></triplat-query-and>
				<triplat-query-filter name="cstSystemGroupingTX" operator="contains" value="{{_searchTerms}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="cstOpportunityNameTX" operator="contains" value="{{_searchTerms}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="cstPrimarySystemTX" operator="contains" value="{{_searchTerms}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="cstReferenceLocationTX" operator="contains" value="{{_searchTerms}}" ignore-if-blank></triplat-query-filter>
			</triplat-query>
		</triplat-ds>


		<div class="header">
			<iron-selector class="tabs-container" hidden$="{{closed}}" selected="{{_selectedTab}}">
				<!-- <div class="tab">
		    		<div id="floorPlanTab" tabindex="0" on-keypress="_keyPressHandler" aria-labelledby="floorPlanView">
			    		<iron-icon icon="icons:dashboard"></iron-icon>
						<span>Floor Plan</span>
		    		</div>
				</div> -->
				<div class="tab">
					<div id="listTab" tabindex="0" on-keypress="_keyPressHandler" aria-labelledby="listView">
						<iron-icon icon="icons:view-list"></iron-icon>
						<span>Active records</span>
					</div>

				</div>
				<!-- <div class="tab">
					<div id="detailsTab" tabindex="0" on-keypress="_keyPressHandler" aria-labelledby="assessmentDetailsView">
			    		<iron-icon icon="icons:assignment"></iron-icon>
						<span>Assessment Details</span>
					</div>
				</div> -->
			</iron-selector>

			<div class="search-bar">
				<tricomp-search-input id="search" aria-labelledby="searchInput" value="{{_searchTerms}}">
				</tricomp-search-input>
			</div>
		</div>
		<iron-pages class="main" selected="{{_selectedTab}}">
			<!-- <tricomp-walkthru-floor-plan
				hidden$="{{closed}}"
				id="floorplan"
				floor-id="{{floorId}}"
				spaces="{{_filteredSpaces}}"
				selected-space="{{selectedSpace}}"
				loaded="{{_graphicLoaded}}"
				has-graphic="{{_hasGraphic}}"
				search-terms="[[_searchTerms]]">
			</tricomp-walkthru-floor-plan> -->
			<uccomp-walkthru-list hidden$="{{closed}}" id="list" all-records="{{_allRecords}}" filtered-records="{{_filteredRecords}}" selected-record="{{selectedSpace}}">
			</uccomp-walkthru-list>
		</iron-pages>
	</template>
</dom-module>
<script>
	Polymer({

		is: "uccomp-walkthru-main",

		properties: {

			selectedSpace: {
				type: Object,
				notify: true
			},

			_selectedTab: {
				type: Number,
				value: 0
			},

			_allRecords: Array,
			_filteredRecords: Array,

			closed: Boolean
		},

		listeners: {
			'list.add-record': '_handleAddRecord',
		},

		observers: [
			'_handleClosedChanged(closed)',
			// '_handleSelectedTabChanged(_selectedTab)',
		],

		_handleDeleteRecord: function() {
			this.$.assessmentRecordsDs.deleteRecord(this.selectedSpace._id, TriPlatDs.RefreshType.BOTH);
		},

		_handleDeleteBulkRecords: function() {
			let items = this.$.list.getCheckedItems();
			console.log('Checked items:', items);

			items.forEach((item) => {
				this.$.assessmentRecordsDs.deleteRecord(item._id, TriPlatDs.RefreshType.BOTH);
			});

			return items;
		},


		_handleDuplicateRecord: function() {
			let obj = cloneData(this.selectedSpace);
			obj.id = null;
			obj._id = null;
			this._addRecord(obj);
		},

		_handleAddRecord: function(ev) {
			this._addRecord()
		},

		_addRecord: function(record = {}) {
			let date = new Date();
			record.cstDateInspectedDA = `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`;

			this.$.assessmentRecordsDs.createRecord(record, TriPlatDs.RefreshType.SERVER, 'actions', 'create', {
					campusId: this.campusId
				})
				.then(data => {
					let id = data.createdRecordId;

					for (let i in this._allRecords) {
						if (this._allRecords[i]._id == id)
							this.selectedSpace = this._allRecords[i];
					}
				})
		},

		_handleClosedChanged: function(closed) {
			if (closed) {
				this.showAssessmentDetails();
			}
		},

		showList: function() {
			this.set('_selectedTab', 0);
		},

		showAssessmentDetails: function() {
			this.set('_selectedTab', 1);
		},

		updateView: function() {
		},

		markNonDiscrepant: function(acceptedItem) {
			// this.$.floorplan.markNonDiscrepant(acceptedItem);
			// this.$.list.markNonDiscrepant(acceptedItem);
		},

		markDiscrepant: function(rejectedItem) {
			this.$.floorplan.markDiscrepant(rejectedItem);
			this.$.list.markDiscrepant(rejectedItem);
		},

		unmarkSpace: function(spaceToReset) {
			this.$.floorplan.unmarkSpace(spaceToReset);
			this.$.list.unmarkSpace(spaceToReset);
		},

		save: function(record) {

			if (!record._id)
				return;

			// ds.updateRecord(record._id, TriPlatDs.RefreshType.BOTH, 'actions', 'update', { structure: record._structureID })
			this.$.assessmentRecordsDs.updateRecord(record._id, TriPlatDs.RefreshType.CLIENT, 'actions', 'update', {
					structure: record._structureID
				})
				.then(() => {
					this.dispatchEvent(new CustomEvent('item-saved', {
						bubbles: true
					}));
				});
		},

		reset: function() {

			if (this.selectedSpace) {
				this.set('selectedSpace', null);
			}


			this.campusId = -1;

			this.$.list.reset();
			this.$.search.reset();
			this.$.details.reset();

			this.set('_occupancyOrgNamesAssigned', false);
		},

		_keyPressHandler: function(e) {
			var code = e.keyCode;
			if (code == 13) {
				if (e.target.id == "floorPlanTab") {
					this.showFloorPlan();
				} else if (e.target.id == "listTab") {
					this.showList();
				} else if (e.target.id == "detailsTab") {
					this.showAssessmentDetails();
				}
			}
		}
	});
</script>
