<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<dom-module id="uccomp-info">

	<style>
		:host {
      /* position: relative; */
      flex: 0 0 auto;

			--iron-icon-height: 20px;
      --iron-icon-width: 20px;
		}

    .popup {
      display: block;
      position: fixed;
      left: 25px;
      top: 10px;
      background: #c0e6ff;
      border: 1px solid rgba(0,0,0,0.1);
      padding: 10px;
      z-index: 999;
      max-width: 350px;
      font-size: 0.8em;
      transform: translateY(-50%);
			opacity: 0;
			transition: opacity 0.25s ease-in;
			pointer-events: none;
    }

		iron-icon {
			cursor: help;
			margin-top: 20px;
			color: rgba(0,0,0,0.15);
			transition: all 0.15s ease-in-out;
		}

		iron-icon:hover {
			color: rgba(0,0,0,0.5);
		}

    iron-icon.active {
			color: rgba(0,0,0,1);
		}

    iron-icon.active + .popup {
      display: block;
			opacity: 1;
    }

	</style>
	<template>
    <triplat-ds id='triUserMessageDS' name='triUserMessage' data='{{messages}}' filtered-data='{{message}}'>
      <triplat-query>
				<triplat-query-filter name="ID" operator="equals" value="{{messageId}}" ignore-if-blank></triplat-query-filter>
			</triplat-query>
    </triplat-ds>
    <iron-icon id='icon' on-mousemove='_handleMouseMove' on-mouseleave='_handleMouseLeave' on-tap='_handleTap' icon='{{icon}}'></iron-icon>
    <div id='popup' class='popup'>
      <template is='dom-if' if='{{_arrayEmpty(message)}}'>
        ERROR: Message "{{messageId}}" not found.
      </template>
      <template is='dom-repeat' items='{{message}}'>
        <div inner-h-t-m-l='{{_formatMessage(item.messageContent)}}'></div>
      </template>
    </div>
	</template>
</dom-module>
<script>
	Polymer({

		is: "uccomp-info",

		properties: {
      messageId : {
        type: String,
        value: '',
      },
			icon : {
        type: String,
        value: 'icons:info-outline'
      }
		},

		_handleMouseLeave : function() {
			this.$.icon.classList.remove('active');
		},

    _handleTap: function(ev) {
      let popup = this.$.popup;
      let rect = this.$.icon.getBoundingClientRect();

      popup.style.left = rect.left + rect.width + 'px';
      popup.style.top = rect.top + rect.height * 0.5 + 'px';

			this.$.icon.classList.add('active');
    },

    _arrayEmpty: function(array) {
      return !array || array.length == 0;
    },

		_formatMessage : function(msg) {
			msg = msg.replace(/\r\n/g, "<br/>");

			return msg;
		}
	});
</script>
