
<dom-module id="uccomp-dropdown">
	<style>
		:host {
			display: flex;
			flex: 1 1 auto;
		}

		paper-dropdown-menu {
			flex: 1 1 auto;
		}
	</style>
	<template>
        <paper-dropdown-menu id='dropdown' on-paper-dropdown-close='_onChange' label={{label}}>
            <paper-listbox id='dropdownList' class='dropdown-content' selected="-1">
                <template is='dom-repeat' items={{options}}>
                    <paper-item value={{item.value}} item={{item}}>{{item.key}}</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
	</template>
</dom-module>
<script>
	const UCCompDropdown = Polymer({

		is: "uccomp-dropdown",
        properties: {
            column: {
                type: Object,
            },
            options: {
                type: Array
            },
			value: {
				type: String,
				observer: '_valueChangedByParent'
			}
        },

		ready: function() {

			// Object.defineProperty(this, 'value', {
			// 	get: this.getValue,
			// 	set: this.setValue
			// });


			this.watching = false;

			setTimeout(() => this.watching = true, 100);
		},

        getValue: function() {
			if (!this.$.dropdown.selectedItem)
				return null;

            return this.$.dropdown.selectedItem.value;
        },

		getLabel: function() {
			return this.$.dropdown.selectedItem.innerText;
		},

        _onChange: function(ev) {
            // paper-dropdown-close doesn't immediately update selectedItem, so give it a 0ms timeout to let it update.
			// if (!this.watching)
				// return;

            setTimeout(() => {
                this.fire('change', {});
            }, 0);

        },

		_valueChangedByParent: function(ev) {
			// console.log('Looking for val...', this.value);

			for (let i in this.options) {
				let option = this.options[i];

				if (this._compareValues(option.value, this.value) || (typeof option.value == 'string' && option.value.startsWith(this.value))) {
					this.$.dropdownList.selectIndex(i);
					window.win = this.$.dropdown;
					this.$.dropdown.dispatchEvent(new Event('paper-dropdown-close'));
					break;
				}
			}
			// console.log('Uh oh', this.value);
		},

		_compareValues: function(a, b) {
			if (typeof a == 'string')
				return a == b;

			// Basic shallow object comparison
			for (let i in a) {
				if (a[i] != b[i])
					return false;
			}

			return true;
		},

		_isEqualTo: (val, check) => {
			return val == check
		}
	});

</script>
