
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../triplat-query/triplat-query.html">
<link rel="import" href="../triplat-icon/triplat-icon.html">
<link rel="import" href="../triplat-date-picker/triplat-date-picker.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../tri-loading-indicator/tri-loading-indicator.html">
<link rel="import" href="../triview-space-assessment/tricomp-walkthru-behavior.html">
<link rel="import" href="./elements/regex-filter.html">
<link rel="import" href="uccomp-dropdown.html">
<link rel="import" href="uccomp-details-accordion.html">
<link rel="import" href="uccomp-info.html">
<link rel="import" href="../triview-space-assessment/tricomp-accordion-arrow.html">
<dom-module id="uccomp-infrastructure-details-panel">
    <style>
        :host {
	        @apply(--layout-vertical);
	        /*@apply(--layout-relative);*/
        }

        * {
	        zoom: 1.025;
	        /* font-size: 1.1em !important; */
        }

        .flex-row {
	        display: flex;
	        align-items: center;
        }

        .flex-row paper-input,
        .flex-row paper-dropdown-menu,
        .flex-row triplat-date-picker {
        	flex: 1 1 auto;
        }

        #header {
	        @apply(--layout-horizontal);
	        @apply(--layout-center);
	        border-bottom: 1px solid var(--tri-primary-content-accent-color);
	        height: 44px;
	        color: #464646;
	        font-size: 18px;
	        font-weight: bold;
	        padding: 0 10px;
        }

        #header div {
        	@apply(--layout-flex);
        }

        #content {
	        @apply(--layout-flex);
	        @apply(--layout-scroll);
        }

        #placeholder {
	        padding: 10px;
	        color: var(--tri-primary-content-color);
        }

        #info {
        	@apply(--layout-vertical);
        }

        #details {
	        @apply(--layout-flex);
	        @apply(--layout-vertical);
	        margin: 10px;
        }

        #details div {
	        /*@apply(--layout-flex);*/
	        @apply(--layout-horizontal);
	        padding-bottom: 5px;
        }

        #details label {
	        width: 50px;
	        font-size: 14px;
	        color: #959595;
        }

        #details div span {
	        @apply(--layout-flex);
	        @apply(--layout-wrap);
	        word-wrap: break-word;
	        font-size: 14px;
	        color: #5a5a5a;
        }

        paper-textarea {
	        padding-left: 10px;
	        padding-right: 10px;
        }

        #actions {
	        @apply(--layout-horizontal);
	        @apply(--layout-center-justified);
	        border-top: 1px solid var(--tri-primary-content-accent-color);
	        padding: 24px;
    	}

        #actions paper-button {
	        @apply(--layout-vertical);
	        @apply(--layout-center);
	        @apply(--tri-active-button);
	        font-size: 14px;
	        font-weight: 600;
	        padding-left: 0px 24px;

	        --paper-button-flat-keyboard-focus: {
	        	border: 2px dotted white;
	        }

        }

        #actions paper-button[disabled] {
        	@apply(--tri-disabled-button);
        }

        #actions #deleteChangesButton,
        #actions #discardChangesButton {
        	background: var(--tri-secondary-button-background-color);
        }

        #actions #deleteChangesButton {
        	background: #AA0000;
        }

        /*.mismatch-indicator {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background-color: white;
        }
		*/
        iron-icon {
        	color: #C7C7C7;
        }

        iron-icon.red {
        	color: #AD1625;
        }

        iron-icon.green {
        	color: #8CD211;
        }

        iron-icon.gray {
        	color: #C7C7C7;
        }

        paper-spinner {
        	/*@apply(--layout-self-center);*/
        	height: 24px;
        	width: 24px;
        }

        .title {
        	@apply(--layout-flex);
        	padding-left: 7px;
        }

		.subtitle {
			font-size: 80%;
		}

        .accessibility {
        	display: none;
        }

        .score-display {
            width: 20px;
            margin-left: 5px;
        }

        triplat-date-picker /deep/ label,
        paper-dropdown-menu /deep/ label,
        paper-input /deep/ label {
        	color: #1a75bb !important;
        	/* font-family: webdings !important; */
        }

        paper-checkbox.vertical /deep/ #checkboxLabel {
        	padding: 0;
        }

        paper-checkbox.vertical {
        	padding: 0 10px;
	        display: flex;
	        flex-direction: column;
	        align-items: center;
        	text-align: center;
        }

        paper-checkbox.small {
        	font-size: 80%;
        }

        paper-dropdown-menu /deep/ iron-dropdown {
            max-height: 300px;
        }

    </style>
    <template>
        <!-- <json-ds id='triStructureDs' src='data/primarySystems.json' name='triStructure' data='{{_primarySystems}}'></json-ds> -->


        <json-ds id='level3JSON' src='data/catalogue.json' data='{{_catalogue}}'>
        </json-ds>

        <triplat-ds id='triBSCLevel4Ds' name='triBuildingSystemClass' manual>
            <triplat-query>
                <triplat-query-page id="triBSCLevel4DsPage"
                    size="99999"></triplat-query-page>
                <triplat-query-filter
                    name='level'
                    operator='contains'
                    value='Level 4'></triplat-query-filter>
                <triplat-query-filter
                    name='parentID'
                    operator='equals'
                    value=''></triplat-query-filter>
            </triplat-query>
        </triplat-ds>
        <triplat-ds id='cstBSIRankings' name='cstBSIRankings' data={{_allRankings}}></triplat-ds>
        <regex-filter input='{{_allRankings}}' output={{_impactRankings}} regex='^\\Classifications\\BSI Ranking\\Impact to Mission\\' property='path'></regex-filter>
        <regex-filter input='{{_allRankings}}' output={{_riskRankings}} regex='^\\Classifications\\BSI Ranking\\Risk to Mission\\' property='path'></regex-filter>
        <regex-filter input='{{_allRankings}}' output={{_rigorRankings}} regex='^\\Classifications\\BSI Ranking\\Rigor of Use Code\\' property='path'></regex-filter>
        <regex-filter input='{{_allRankings}}' output={{_liabilityRankings}} regex='^\\Classifications\\BSI Ranking\\Regulatory Liability\\' property='path'></regex-filter>
        <regex-filter input='{{_allRankings}}' output={{_conditionRankings}} regex='^\\Classifications\\BSI Ranking\\Condition Code\\' property='path'></regex-filter>
        <regex-filter input='{{_allRankings}}' output={{_deteriorationRankings}} regex='^\\Classifications\\BSI Ranking\\Deterioration Code\\' property='path'></regex-filter>
        <regex-filter input='{{_allRankings}}' output={{_urgencyRankings}} regex='^\\Classifications\\BSI Ranking\\Urgency Code\\' property='path'></regex-filter>
        
        <div id="header">
            <span class="title">
				Record <span>{{selectedRecord._id}}</span>
				<br/>
				<span class='subtitle'>{{selectedRecord.cstModifiedByTX}}</span>
			</span>
            <paper-icon-button on-tap='_handleDeselectItem' icon='close'></paper-icon-button>
        </div>
        <div id="content">
            <div id="placeholder" hidden$="{{selectedRecord}}">Select a record for more details</div>
            <div id="info" hidden$="{{!selectedRecord}}">
                <uccomp-details-accordion label="Infrastructure System and Details" aria-label="General Information" open-by-default>
                    <paper-input label='Opportunity Name' value='{{selectedRecord.cstOpportunityNameTX}}' disabled='{{!selectedRecord.cstOverrideNameBL}}'></paper-input>
                    <paper-checkbox class='small' checked='{{!selectedRecord.cstOverrideNameBL}}'>Auto fill name</paper-checkbox>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' on-selected-item-changed='_handlePrimarySystemChange' label='Primary Infrastructure System'>
                            <paper-listbox id='structureIDDropdown' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstPrimarySystemTX}}">
                                <template is='dom-repeat' items={{_primarySystems}}>
                                    <paper-item value={{item.name}} item={{item}}>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <uccomp-info message-id='infraHelpPrimarySystem'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Infrastructure Sub-System' readonly>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstSystemLevel3TX}}">
                                <template is='dom-repeat' items={{_subSystems}}>
                                    <paper-item value={{item.name}}>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <uccomp-info message-id='infraHelpSubSystem'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Infrastructure Sub-System Component'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstSystemLevel4TX}}">
                                <template is='dom-repeat' items={{_components}}>
                                    <paper-item on-tap='_handleComponentPicked' value={{item.name}}>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <uccomp-info message-id='infraHelpSubSystemComponent'></uccomp-info>
                    </div>
                    <div class='flex-row' hidden$='{{!_isOtherChosen(selectedRecord.*)}}'>
                        <paper-input label='Describe Primary or Sub-System to be Added' value='{{selectedRecord.cstSystemDescriptionTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpSystemDescription'></uccomp-info>
                    </div>

                    <div class='flex-row'>
                        <paper-input label='Infrastructure Component Type' value='{{selectedRecord.cstTypeTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpComponentType'></uccomp-info>
                    </div>

					<div class='flex-row'>
                        <paper-input label="Component's Unit of Measure" value='{{selectedRecord.cstAttributeUOM}}'></paper-input>
                        <uccomp-info message-id='infraHelpUoM'></uccomp-info>
                    </div>
					<div class='flex-row'>
						<paper-input label="Component's Unit of Measure Primary Attribute Value" type='number' value='{{selectedRecord.cstAttributeValueNU}}'></paper-input>
						<uccomp-info message-id='infraHelpPrimaryAttributeValue'></uccomp-info>
					</div>
					<div class='flex-row'>
                        <paper-input label='Inventory in Unit of Measure' value='{{selectedRecord.cstUOM}}'></paper-input>
                        <uccomp-info message-id='infraHelpInventoryUoM'></uccomp-info>
                    </div>
					<div class='flex-row'>
                        <paper-input on-change='_recalculateTotals' label='Inventory Quanity' value='{{selectedRecord.cstQuantityNU}}' type='number'></paper-input>
                        <uccomp-info message-id='infraHelpInventoryQuantity'></uccomp-info>
                    </div>



                    <div class='flex-row'>
                        <paper-input label='Project/System Grouping' value='{{selectedRecord.cstSystemGroupingTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpGrouping'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input label='Nameplate or Component Identifier' value='{{selectedRecord.cstNameplateTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpComponentIdentifier'></uccomp-info>
                    </div>

                    <div class='flex-row'>
                        <triplat-date-picker label='Opportunity Created Date' value="{{selectedRecord.cstDateInspectedDA}}"></triplat-date-picker>
                        <uccomp-info message-id='infraHelpCreatedDate'></uccomp-info>
                    </div>

					<div class='flex-row'>
                        <paper-input label="Component's Specific Reference Location" value='{{selectedRecord.cstReferenceLocationTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpReferenceLocation'></uccomp-info>
                    </div>
					<div class='flex-row'>
                        <paper-input label='Year Installed' value='{{selectedRecord.cstYearInstalledNU}}' type='number'></paper-input>
                        <uccomp-info message-id='infraHelpYearInstalled'></uccomp-info>
                    </div>
                </uccomp-details-accordion>

                <uccomp-details-accordion label="Opportunity Rating Scores" aria-label="Rating Scores" open-by-default>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Impact to Mission Rating' on-selected-item-changed='_handleImpactChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstImpactCL.id}}">
                                <template is='dom-repeat' items={{_impactRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstImpactNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpImpactRating'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Risk to Mission Rating' on-selected-item-changed='_handleRiskChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstRiskCL.id}}">
                                <template is='dom-repeat' items={{_riskRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstRiskNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpRiskRating'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Rigor of Use Rating' on-selected-item-changed='_handleRigorChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstRigorCL.id}}">
                                <template is='dom-repeat' items={{_rigorRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstRigorNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpRigorRating'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Regulatory Liability Rating' on-selected-item-changed='_handleLiabilityChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstLiabilityCL.id}}">
                                <template is='dom-repeat' items={{_liabilityRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstLiabilityNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpLiabilityRating'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Opportunity Condition Rating' on-selected-item-changed='_handleConditionChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstConditionCL.id}}">
                                <template is='dom-repeat' items={{_conditionRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstConditionNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpConditionRating'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Deterioration Rating' on-selected-item-changed='_handleDeteriorationChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstDeteriorationCL.id}}">
                                <template is='dom-repeat' items={{_deteriorationRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstDeteriorationNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpDeteriorationRating'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Urgency Rating' on-selected-item-changed='_handleUrgencyChanged'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstUrgencyCL.id}}">
                                <template is='dom-repeat' items={{_urgencyRankings}}>
                                    <paper-item value='{{item.bsi_ranking_id}}' data-score='{{item.ranking_score}}'>{{item.name}}</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-input class='score-display' value='{{selectedRecord.cstUrgencyNU}}' label='Score' readonly></paper-input>
                        <uccomp-info message-id='infraHelpUrgencyRating'></uccomp-info>
                    </div>
                    <paper-input class='' value='{{selectedRecord.cstRiskRatingNU}}' label='Total Ranking Score' readonly></paper-input>
                </uccomp-details-accordion>

                <uccomp-details-accordion label="Opportunity Criteria and Justification" aria-label="Opportunity Details" open-by-default>
                    <div class='flex-row'>
                        <paper-dropdown-menu id='dropdown' label='Opportunity Activity'>
                            <paper-listbox id='' class='dropdown-content' attr-for-selected="value" selected="{{selectedRecord.cstOpportunityFunctionTX}}">
                                <paper-item value='Replace'>Replace</paper-item>
                                <paper-item value='Repair'>Repair</paper-item>
                                <paper-item value='Remove'>Remove</paper-item>
                                <paper-item value='Rebuild'>Rebuild</paper-item>
                                <paper-item value='Refinish'>Refinish</paper-item>
                                <paper-item value='Upgrade'>Upgrade</paper-item>
                            </paper-listbox>
                        </paper-dropdown-menu>
                        <uccomp-info message-id='infraHelpOpportunityActivity'></uccomp-info>
                    </div>
                    <!-- <paper-input label='Opportunity Name' value='{{selectedRecord.cstOpportunityNameTX}}'></paper-input> -->
                    <h3>Creation Criteria</h3>
                    <table>
                        <tr>
                            <td>
                                <paper-checkbox class='small' checked='{{selectedRecord.cstCreationCriteriaNFDBL}}'>
                                Not Functioning as Designed</paper-checkbox
                            </td>
                            <td>
                                <paper-checkbox class='small' checked='{{selectedRecord.cstCreationCriteriaNLRBL}}'>
                                No Longer Reliable</paper-checkbox
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <paper-checkbox class='small' checked='{{selectedRecord.cstCreationCriteriaPNLABL}}'>
                                Parts No Longer Available</paper-checkbox
                            </td>
                            <td>
                                <paper-checkbox class='small' checked='{{selectedRecord.cstCreationCriteriaEULBL}}'>
                                Exceeded Useful Life</paper-checkbox
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <paper-checkbox class='small' checked='{{selectedRecord.cstCreationCriteriaTOBL}}'>
                                Technically Obsolete</paper-checkbox
                            </td>
                            <td>
                                <paper-checkbox class='small' checked='{{selectedRecord.cstCreationCriteriaNPCSBL}}'>
                                Not Performing to Current Standards</paper-checkbox
                            </td>
                        </tr>
                    </table>
                    <div class='flex-row'>
                        <paper-input label='Opportunity Justification Description' value='{{selectedRecord.cstOpportunityDescriptionTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpOpportunityDescription'></uccomp-info>
                    </div>
                </uccomp-details-accordion>
                <uccomp-details-accordion label="Opportunity Costs Details" aria-label="Costs Details" open-by-default>
                    <br/>
                    <paper-button on-tap='_fireCalculatorOpen'>
                        <iron-icon icon="icons:apps"></iron-icon>
                        Calculator
                    </paper-button>
                    <div class='flex-row'>
                        <paper-input on-change='_recalculateTotals' label='Labor Unit Cost' value='{{selectedRecord.cstLaborCostNU}}' type='number'>
                            <div prefix>$</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpLaborCost'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input on-change='_recalculateTotals' label='Material Unit Cost' value='{{selectedRecord.cstMaterialCostNU}}' type='number'>
                            <div prefix>$</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpMaterialCost'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input on-change='_recalculateTotals' label='Equipment Unit Cost' value='{{selectedRecord.cstEquipmentCostNU}}' type='number'>
                            <div prefix>$</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpEquipmentCost'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input label='Total Unit Price Cost' value='{{selectedRecord.cstTotalUnitPriceCostNU}}' readonly>
                            <div prefix>$</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpTotalUnitCost'></uccomp-info>
                    </div>
                    <paper-input label='Total Cost Before Adders' value='{{_getTotalCostBeforeAdders(selectedRecord.*)}}' readonly>
                        <div prefix>$</div>
                    </paper-input>
                    <div class='flex-row'>
                        <paper-input on-change='_recalculateTotals' label='Complexity Cost Adder (%)' type='number' value='{{selectedRecord.cstComplexityFactorNU}}'>
                            <div suffix>%</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpComplexityAdder'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input label='Complexity Reason' value='{{selectedRecord.cstComplexityReasonTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpComplexityReason'></uccomp-info>
                    </div>
                    <!-- <paper-input label='Complexity Reason' value='{{selectedRecord.}}'></paper-input> -->
                    <div class='flex-row'>
                        <paper-input on-change='_recalculateTotals' label='General Conditions (%)' type='number' value='{{selectedRecord.cstGeneralConditionsNU}}'>
                            <div suffix>%</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpGeneralConditions'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input label='General Conditions Reason' value='{{selectedRecord.cstGeneralConditionsReasonTX}}'></paper-input>
                        <uccomp-info message-id='infraHelpGeneralConditionsReason'></uccomp-info>
                    </div>
                    <div class='flex-row'>
                        <paper-input label='Total Cost' value='{{selectedRecord.cstTotalCostNU}}' readonly>
                            <div prefix>$</div>
                        </paper-input>
                        <uccomp-info message-id='infraHelpTotalCost'></uccomp-info>
                    </div>
                </uccomp-details-accordion>
            </div>
        </div>
        <div id="actions" hidden$="{{_isActionable(selectedRecord, readOnly)}}">
            <paper-button id="verifyButton" hidden$="{{assessmentLog}}" tabindex="0" on-tap="_handleVerify">Save</paper-button>
            <paper-button id="duplicateButton" hidden$="{{!assessmentLog}}" tabindex="0" on-tap="_fireDuplicateRecordEvent">Duplicate</paper-button>
            <paper-button id="deleteChangesButton" hidden$="{{!assessmentLog}}" tabindex="0" on-tap="_fireDeleteRecordEvent">Delete</paper-button>
            <!-- <paper-button id="discardChangesButton" hidden$="{{!assessmentLog}}" tabindex="0" on-tap="_fireDiscardChangesEvent">Discard</paper-button> -->
        </div>
    </template>
</dom-module>
<script>
    Polymer({

    	is: "uccomp-infrastructure-details-panel",

    	behaviors: [TriCompWalkthruBehavior],

    	properties : {
    		selectedRecord : {
    			type : Object,
                notify: true,
    			value : null
    		},
            _catalogue: Array,
    		spaceChanged : Boolean,
    		assessmentId: Number,
    		assessmentLog : Object,

    		_assignedPeople : Array,
    		_personDiscrepancyLogs : Array,

    		_assignedAssets : Array,
    		_assetDiscrepancyLogs : Array,

    		_removableAssignedPeople : Array,
    		_removableAssignedAssets : Array,

    		_peopleCount : Number,
    		_assetCount : Number,

    		readOnly : {
    			type : Boolean ,
    			value : false
    		},

    		_asyncCommentsHandle : Number,

    		_autoSavedCommentObject : Object,

    		// _lastTimeCommentsChanged : {
    		// 	type : Number,
    		// 	value : 0
    		// },

    		// _timerStarted : {
    		// 	type : Boolean,
    		// 	value : false
    		// },

    		additionalComments : String,
            _rsMeansLevel4Filtered: Array
    	},

    	observers : [
    		'_handleCatalogue(_catalogue)',

    		// '_handleAsyncCommentsHandle(_asyncCommentsHandle)',
    		// '_handleLastTimeCommentsChanged(_timerStarted, _lastTimeCommentsChanged)'
    	],

    	listeners : {
    		// Done in page walkthru because of dialogs that need to be opened
    		// 'peopleAccordion.add' : '_fireAddPersonEvent',
    		// 'peopleAccordion.remove' : '_fireRemovePersonEvent',
    		// 'peopleAccordion.remove' : '_fireRemovePersonEvent',

    		// Done in page walkthru because of dialogs that need to be opened
    		// 'assetsAccordion.add' : '_fireAddAssetEvent',
    		// 'assetsAccordion.remove' : '_fireRemoveAssetEvent',

    		// 'peopleAccordion.undo' : '_handleDeleteDiscrepancyLog',
    		// 'peopleAccordion.undo' : '_handleDeleteDiscrepancyLog',
    		// 'assetsAccordion.undo' : '_handleDeleteDiscrepancyLog',

    		// 'discrepancyLogsDs.ds-delete-complete' : '_handleDiscrepancyLogDeleted',

    	},

    	ready: function() {

    	},

    	_isActionable : function(selectedRecord, readOnly) {
    		return !selectedRecord || readOnly;
    	},


    	_toggleCollapse : function() {
    		this.$.collapsible.toggle();
    	},

    	_fireAddPersonEvent : function() {
    		this.fire('add-person');
    	},

    	_fireRemovePersonEvent : function(e) {
    		this.fire('remove-person', e.detail);
    	},

    	_fireAddAssetEvent : function() {
    		this.fire('add-asset');
    	},

    	_fireRemoveAssetEvent : function(e) {
    		this.fire('remove-asset', e.detail);
    	},

    	_handleVerify : function(e) {
            // TODO: Actual verification.
    		this.fire('save');
    	},

    	_fireDeleteRecordEvent : function() {
    		this.dispatchEvent(new CustomEvent('delete-record', { bubbles: true }));
    		// this.fire('delete-record');
    	},

    	_fireDuplicateRecordEvent : function() {
    		this.dispatchEvent(new CustomEvent('duplicate-record', { bubbles: true }));
    	},

    	_fireDiscardChangesEvent : function() {
    		this.fire('discard-changes');
    	},

    	_handleDeleteRecord : function() {
            this.selectedRecord = null;
    	},

        _handleDeleteBulkRecords : function(items) {
            for (let i in items) {
                if (this.selectedRecord == items[i]) {
                    this.selectedRecord = null;
                    return;
                }
            }
        },

    	_handleDiscardChanges : function() {
            // TODO
    	},

       _handlePrimarySystemChange : function(ev) {
           let element = ev.detail.value;

           if (!element) {
               // TODO reset
               return;
           }


           if (element && element.item) {
               let itemData = element.item;

               this.set('selectedRecord.cstSystemLevel3TX', itemData.subSystem);
               this._components = itemData.components;

           }
       },

       _handleComponentPicked : function(ev) {
           let item = ev.model.item;

           if (!item)
               return;

           this.set('selectedRecord.cstAttributeUOM', item.componentUoM ? item.componentUoM : this.selectedRecord.cstAttributeUOM);
           this.set('selectedRecord.cstUOM', item.inventoryUoM ? item.inventoryUoM : this.selectedRecord.cstUOM);
       },

       _handleCatalogue: function() {
           let catalogue = this._catalogue;

           let newCatalogue = [];

           this._rsMeansLevel3 = [];
           this._rsMeansLevel4 = [];
           this.systemToLevel3Map = [];
           this._uomList = [];

           let primarySystems = [];
           let primarySystemsByName = {}; // Used to prevent duplicates

           let subSystems = [];
           let subSystemsByName = {};

           for (let i in catalogue) {
               let parts = catalogue[i].path.split('\\');

               let subSystem = parts[3];
               let primarySystem = parts[4]; //level 4
               let componentName = parts[5]; //level 5
               let componentUoM = catalogue[i].componentUoM;
               let inventoryUoM = catalogue[i].inventoryUoM;

               let systemData = {
                   name: '',
                   subSystem: '',
                   components: [],
               };

               if (primarySystemsByName[primarySystem]) {
                    systemData = primarySystemsByName[primarySystem];
               } else {
                    primarySystemsByName[primarySystem] = systemData;
                    primarySystems.push(systemData);
               }

               if (!subSystemsByName[subSystem]) {
                    subSystemsByName[subSystem] = true;
                    subSystems.push({
                        name: subSystem
                    });
               }

               systemData.subSystem = subSystem;
               systemData.name = primarySystem;

               systemData.components.push({
                   name: componentName,
                   componentUoM: componentUoM,
                   inventoryUoM: inventoryUoM,
               });
           }

           for (let i in primarySystems) {
               let system = primarySystems[i];

               system.components.sort(this.__sortOtherAtBottom);
           }

           primarySystems.sort(this.__sortOtherAtBottom);

           this._primarySystems = primarySystems;
           this._subSystems = subSystems;
       },

       _recalculateTotals : function() {
         if (!this.selectedRecord)
             return;

    		let labor = Number(this.selectedRecord.cstLaborCostNU);
    		let material = Number(this.selectedRecord.cstMaterialCostNU);
    		let equipment = Number(this.selectedRecord.cstEquipmentCostNU);
    		let complexityFactor = Number(this.selectedRecord.cstComplexityFactorNU);
    		let generalConditions = Number(this.selectedRecord.cstGeneralConditionsNU);
    		let quantity = Number(this.selectedRecord.cstQuantityNU);
    		let totalUnitPrice = Number(this.selectedRecord.cstTotalUnitPriceCostNU);
    		let total = Number(this.selectedRecord.cstTotalCostNU);

    		// Default to 0%
    		if (!generalConditions)
    			generalConditions = 0;

    		if (!complexityFactor)
    			complexityFactor = 0;

    		// Convert to decimal percentage
    		generalConditions /= 100;
    		complexityFactor /= 100;

    		// Prevent NaN
    		labor = labor || 0;
    		material = material || 0;
    		equipment = equipment || 0;

    		totalUnitPrice = labor + material + equipment;

    		total = (
    			quantity * totalUnitPrice +
    			quantity * totalUnitPrice * generalConditions +
    			quantity * totalUnitPrice * complexityFactor
    		);

               this.set('selectedRecord.cstTotalUnitPriceCostNU', totalUnitPrice);
               this.set('selectedRecord.cstTotalCostNU', Math.round(total));
    	},

    	_handleImpactChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstImpactCL.value', item.innerText.trim());
            this.set('selectedRecord.cstImpactNU', item.dataScore);

            this._updateRiskRating();
    	},

    	_handleRiskChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstRiskCL.value', item.innerText.trim());
            this.set('selectedRecord.cstRiskNU', item.dataScore);

            this._updateRiskRating();
    	},

    	_handleRigorChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstRigorCL.value', item.innerText.trim());
            this.set('selectedRecord.cstRigorNU', item.dataScore);

            this._updateRiskRating();
    	},

    	_handleLiabilityChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstLiabilityCL.value', item.innerText.trim());
            this.set('selectedRecord.cstLiabilityNU', item.dataScore);

            this._updateRiskRating();
    	},

    	_handleConditionChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstConditionCL.value', item.innerText.trim());
            this.set('selectedRecord.cstConditionNU', item.dataScore);

            this._updateRiskRating();
    	},

    	_handleDeteriorationChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstDeteriorationCL.value', item.innerText.trim());
            this.set('selectedRecord.cstDeteriorationNU', item.dataScore);

            this._updateRiskRating();
    	},

    	_handleUrgencyChanged : function(ev, selected) {
            let item = selected.value;

    		if (!selected.value)
    			return;

    		this.set('selectedRecord.cstUrgencyCL.value', item.innerText.trim());
            this.set('selectedRecord.cstUrgencyNU', item.dataScore);

            this._updateRiskRating();
    	},

        _updateRiskRating : function() {

            let risk;

            if (this.selectedRecord) {
                risk = Number(this.selectedRecord.cstImpactNU) +
                Number(this.selectedRecord.cstRiskNU) +
                Number(this.selectedRecord.cstRigorNU) +
                Number(this.selectedRecord.cstLiabilityNU) +
                Number(this.selectedRecord.cstConditionNU) +
                Number(this.selectedRecord.cstDeteriorationNU) +
                Number(this.selectedRecord.cstUrgencyNU);
            }

            this.set('selectedRecord.cstRiskRatingNU', risk);
        },

    	_handleLevel4Changed : function(ev) {
    		if (!ev.detail.value)
    			return;

    		let name = ev.detail.value.innerHTML.trim();

    		for (let i in this._uomList) {
    			let uom = this._uomList[i];

    			if (uom.name != name)
    				continue;

				this.set('selectedRecord.cstAttributeUOM', uom.drivingUoM ? uom.drivingUoM : this.selectedRecord.cstAttributeUOM);
    			this.set('selectedRecord.cstUOM', uom.inventoryUoM ? uom.inventoryUoM : this.selectedRecord.cstUOM);
    			break;
    		}
    	},

    	_getTotalCostBeforeAdders : function() {
    		if (!this.selectedRecord)
    			return;
    		return this.selectedRecord.cstTotalUnitPriceCostNU * this.selectedRecord.cstQuantityNU;
    	},

        _handleRatingChange : function(ev) {
        },

    	_handleDeselectItem : function() {
    		this.selectedRecord = null
    	},

    	_fireCalculatorOpen : function() {
    		this.dispatchEvent(new CustomEvent('calculator-open', { bubbles: true }));
    	},

    	reset : function() {
    		this.additionalComments = null;
    	},

    	_isSet : function(ev) {
    		let item = ev.base;

    		return true;
    	},

        _isOtherChosen : function(ev) {
            return (this.selectedRecord && (this.selectedRecord.cstPrimarySystemTX == 'Other' || this.selectedRecord.cstSystemLevel4TX == 'Other'));
        },

        __sortOtherAtBottom : function(a,b) {
            if (a.name.toLowerCase() == 'other')
                return 1;
            if (b.name.toLowerCase() == 'other')
                return -1;
            if (a.name < b.name) return -1;
            if (a.name > b.name) return 1;
        }
    });
</script>
