<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-selector/iron-selector.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../tri-loading-indicator/tri-loading-indicator.html">

<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<dom-module id="uccomp-walkthru-list">

	<style>

		:host {
			@apply(--layout-flex);
			@apply(--layout-vertical);
			/*@apply(--layout-relative);*/
			background-color: var(--tri-body-background-color);
		}

		iron-selector {
			@apply(--layout-vertical);
			@apply(--layout-flex);
			@apply(--layout-scroll);
		}

		iron-selector > div:first-of-type {
			border-top: none;
		}

		.space-item {
			@apply(--layout-horizontal);
			flex-shrink: 0;
			background-color: white;
			padding: 0 20px;
			border-top: 1px solid var(--tri-primary-content-accent-color);
			cursor: pointer;
			font-size: 0.9em;
		}

		.space-item > span {
			padding: 10px 5px;
			border-right: 1px solid rgba(0,0,0,0.05);
		}



		.space-item.iron-selected {
			background-color: #C0E6FF;
		}


		.list-header {
			display: flex;
			flex-direction: row;
			text-align: center;
			padding: 0 20px;
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}

		.list-header > * {
			font-weight: bold;
			border-right: 1px solid rgba(0,0,0,0.05);
			padding: 10px 5px;
			font-weight: 0.8em;
		}

		.list-header > *:last-child,
		.space-item > span:last-child {
			border-right: none;
		}

		.list-footer {
			display: flex;
			flex-direction: row;
			text-align: center;
			padding: 10px 10px;
			border-top: 1px solid rgba(0,0,0,0.05);
		}

		.addrecord {
			margin-right: auto;
		}

		paper-button.has-icon {
			white-space: nowrap;
			display: flex;
			flex-direction: row !important;
			flex-wrap: nowrap;
		}

		paper-button.has-icon > iron-icon + span {
			margin-left: 10px;
			flex: 1 1 auto;
		}

		.multi-delete {
		}

		.id {
			flex: 0 0 100px;
			text-align: center;
		}

		.primarysystem {
			flex: 2;
		}

		.name {
			flex: 3;
		}

		.grouping {
			flex: 2;
		}

		.referencelocation {
			flex: 2;
		}

		.condition {
			flex: 1;
		}

		.urgency {
			flex: 1;
		}

		@media (max-width: 800px) {
			.urgency, .condition {
				display: none;
			}
		}

		@media (max-width: 700px) {
			.grouping, .referencelocation {
				display: none;
			}
		}



		.space-item > *, .list-header > * {
			overflow: hidden;
			white-space: nowrap;
		  text-overflow: ellipsis;
		}

		.icon paper-fab {
			@apply(--layout-end-justified);
			@apply(--layout-center);
			@apply(--layout-flex-1);
			--paper-fab-disabled-background: #C7C7C7;
			--paper-fab-keyboard-focus-background: #C7C7C7;
		}

		.icon .discrepant {
			--paper-fab-disabled-background: #AD1625;
			--paper-fab-keyboard-focus-background: #AD1625;
			color: #ffffff;
		}

		.icon .non-discrepant {
			--paper-fab-disabled-background: #8CD211;
			--paper-fab-keyboard-focus-background: #8CD211;
			color: #ffffff;
		}

	</style>

	<template>

		<!-- <triplat-debug message="LIST: spaces" value="{{spaces}}"></triplat-debug> -->
		<tri-loading-indicator show="[[!loaded]]" hide-background></tri-loading-indicator>

		<div id='listHeader' class='list-header'>
			<span class='id'>ID</span>
			<span class='primarysystem'>Primary System</span>
			<span class='name'>Opportunity Name</span>
			<span class='grouping'>System Grouping</span>
			<span class='referencelocation'>Ref Location</span>
			<span class='condition'>Condition</span>
			<span class='urgency'>Urgency</span>
			<span class='checkbox'>
				<paper-checkbox checked='{{_checkAll}}' on-change='_handleCheckAll' aria-label="Toggle all records for bulk selection"></paper-checkbox>
			</span>
		</div>
		<iron-selector id="walkthruListSelector" selected-item="{{_selectedRecordElement}}" attr-for-selected="tri-record-id">

			<template is="dom-repeat" id="spacesTemplate" items="{{allRecords}}">
				<div tri-record-id$="{{item._id}}" class="space-item" hidden$="{{!_isFilterResultItem(item, filteredRecords)}}" tabindex="0" on-keypress="_keyPressHandler">
					<!-- <span class="id"><label>ID: </label><span class="value">{{item._id}}</span></span> -->
					<span class="id"><span class="value">{{item._id}}</span></span>
					<span class="primarysystem"><span class="value">{{item.cstPrimarySystemTX}}</span></span>
					<span class="name"><span class="value" inner-h-t-m-l="{{_generateName(item.*)}}"></span></span>
					<span class="grouping"><span class="value">{{item.cstSystemGroupingTX}}</span></span>
					<span class="referencelocation"><span class="value">{{item.cstReferenceLocationTX}}</span></span>
					<span class="condition"><span class="value">{{_formatCondition(item.cstConditionCL.value)}}</span></span>
					<span class="urgency"><span class="value">{{_formatUrgency(item.cstUrgencyCL.value)}}</span></span>
					<span class='checkbox' on-tap='_stopPropagation'>
						<span class='value'>
							<paper-checkbox on-change='_handleChecked' item='{{item}}' aria-label="Add record to bulk selection"></paper-checkbox>
						</span>
					</span>
					<!-- <span class="date"><label>Date: </label><span class="value">{{_formatDate(item.cstDateInspectedDA)}}</span></span> -->
					<!-- <div class="icon">
						<paper-fab mini disabled></paper-fab>
					</div> -->
				</div>

			</template>
		</iron-selector>

		<div class='list-footer'>
			<paper-button id='' class='addrecord has-icon' on-tap='_handleAddRecord'>
				<iron-icon icon="icons:add-circle"></iron-icon>
				<span>New Opportunity</span>
			</paper-button>
			<paper-icon-button class='multi-delete' on-tap='_handleMultiDelete' disabled='{{!_hasCheckedItems(_checkedRows)}}' icon='delete' aria-label="Delete Checked Records"></paper-icon-button>
			<!-- <paper-button class='multi-delete has-icon' on-tap='_handleMultiDelete' disabled='{{!_hasCheckedItems(_checkedRows)}}'>
				<iron-icon icon='icons:delete'></iron-icon>
				<span>Delete Records</span>
			</paper-button> -->

		</div>

	</template>
</dom-module>
<script>
	Polymer({

		is: "uccomp-walkthru-list",

		properties : {
			selectedRecord : {
				type : Object,
				notify : true,
				observer : '_handleSelectedSpaceChange'
			},

			_checkedRows: {
				type: Array,
				value: [],
				observer: '_handleCheckedRows'
			},

			loaded : {
				type : Boolean,
				notify : true,
				value : false
			},

			_selectedRecordElement : {
				type : Object,
				observer : '_handleSelectedSpaceElementChange'
			},


			allRecords : Array,

			filteredRecords : {
				type: Array,
				observer: '_handleFilterChange'
			},

			_checkAll: {
				type: Boolean,
				// observer: '_handleCheckAll',
			}
		},

		observers : [
			'_handleAllRecordsUpdated(allRecords)',
			'_handleRecordPropertyChanged(selectedRecord.*)',
		],

		listeners : {
			'spacesTemplate.dom-change' : '_handleSpacesTemplateDomChanged',
		},


		_stopPropagation : function(ev) {
			ev.stopPropagation();
			ev.preventDefault();
		},

		_getGrouping : function(ev) {
			let item = ev.base;
			return item.cstSystemGroupingTX;
		},

		_generateName : function(ev) {
			let item = ev.base;

			if (item.cstOverrideNameBL)
				return item.cstOpportunityNameTX;

			let parts = [
				item.cstOpportunityFunctionTX,
				item.cstQuantityNU,
				item.cstSystemLevel4TX,
				'-',
				item.cstNameplateTX,
				item.cstAttributeValueNU > 0 ? item.cstAttributeValueNU : '',
				item.cstAttributeUOM ? item.cstAttributeUOM : ''
			];

			parts = parts.filter(e => e)

			let _generatedName = parts.join(' ');

			_generatedName = _generatedName.replace(/(^- | -$)/, '');

			if (_generatedName.length <= 3) {
				_generatedName = '<em>N/A - Need additional information</em>';
				return _generatedName;
			}

			this.set('selectedRecord.cstOpportunityNameTX', _generatedName);
			return _generatedName;
		},

		getCheckedItems : function() {
			return this._checkedRows.map(e => e.item);
		},

		_handleAddRecord : function() {
			this.dispatchEvent(new CustomEvent('add-record'));
		},

		_handleFilterChange : function() {
			this._checkedRows.forEach(el => {
				if (this.filteredRecords.indexOf(el.item) == -1)
					el.checked = false;
			});

			this._handleChecked();
		},

		_hasCheckedItems : function() {
			return !!this._checkedRows.length;
		},

		_handleMultiDelete : function() {
			this.dispatchEvent(new CustomEvent('delete-bulk-records', { bubbles: true }));
		},

		_handleCheckedRows : function() {

		},

		_handleChecked : function(ev) {
			let boxes = Array.apply(null, this.querySelectorAll('#walkthruListSelector .space-item:not([hidden]) .checkbox paper-checkbox'));

			let allChecked =
				(boxes.length == 0) ?
					false :
					boxes
						.map(el => el.checked)
						.reduce((val, el) => val && el);

			this._checkedRows = Array.prototype.filter.call(boxes, el => el.checked)
			this._checkAll = allChecked;
		},

		_handleCheckAll : function() {
			let boxes = this.querySelectorAll('#walkthruListSelector .space-item:not([hidden]) .checkbox paper-checkbox');

			if (this._checkAll) {
				boxes.forEach(e => e.checked = true)
			} else {
				boxes.forEach(e => e.checked = false)
			}

			this._handleChecked();
		},

		_handleAllRecordsUpdated : function() {
			let header = this.$.listHeader;
			let list = this.$.walkthruListSelector;

			setTimeout(() => {
				header.style.marginRight = (list.offsetWidth - list.scrollWidth) + 'px';
			});
		},

		_handleRecordPropertyChanged : function() {
			let selector = this.$.walkthruListSelector;
			let index = selector.indexOf(selector.selectedItem);

			if (index == -1)
				return;

			this.notifyPath(`allRecords.${index}.cstOpportunityNameTX`);
			this.notifyPath(`allRecords.${index}.cstPrimarySystemTX`);
			this.notifyPath(`allRecords.${index}.cstTypeTX`);
			this.notifyPath(`allRecords.${index}.cstDateInspectedDA`);
			this.notifyPath(`allRecords.${index}.cstQuantityNU`);
			this.notifyPath(`allRecords.${index}.cstOpportunityFunctionTX`);
			this.notifyPath(`allRecords.${index}.cstSystemLevel3TX`);
			this.notifyPath(`allRecords.${index}.cstSystemLevel4TX`);
			this.notifyPath(`allRecords.${index}.cstAttributeUOM`);
			this.notifyPath(`allRecords.${index}.cstAttributeValueNU`);
			this.notifyPath(`allRecords.${index}.cstNameplateTX`);
			this.notifyPath(`allRecords.${index}.cstReferenceLocationTX`);
			this.notifyPath(`allRecords.${index}.cstSystemGroupingTX`);
			this.notifyPath(`allRecords.${index}.cstUrgencyCL.id`);
			this.notifyPath(`allRecords.${index}.cstUrgencyCL.value`);
			this.notifyPath(`allRecords.${index}.cstConditionCL.value`);
			// this.set(`allRecords.${index}.cstUrgencyCL.id`, this.allRecords[index].cstUrgencyCL.id)
			// this.set(`allRecords.${index}.cstConditionCL.id`, this.allRecords[index].cstConditionCL.id)
		},

		// ACM TODO: This is shared with multi-space-selector-floorplan. Extract please.
		_isFilterResultItem : function(space, filteredRecords) {
			var isFilterResultItem = false;

			if (filteredRecords) {
				var spaceInAllSpaces = filteredRecords.filter(function(spaceInSpaces) {
	      			return String(spaceInSpaces._id).indexOf(space._id) != -1;
	      		});

	      		if (spaceInAllSpaces[0]) {
	      			isFilterResultItem = true;
	      		}
			}

      		return isFilterResultItem;
		},


		_handleSelectedSpaceElementChange : function(newElement, oldElement) {
			if (newElement) {
				if (oldElement) {
					this._deselect();
				}
				this._select(newElement, -1);
			}
		},

		_handleSelectedSpaceChange : function(selectedRecord, oldSelectedSpace) {
			if (selectedRecord) {
				this._select(null, selectedRecord._id);
			} else {
				this._deselect();
			}
		},

		_handleSpacesTemplateDomChanged : function(e) {
			this.set('loaded', true);
		},

		markDiscrepant : function(discrepantSpace) {
			this._mark(discrepantSpace, "icons:report-problem", 'discrepant', 'non-discrepant');
		},

		markNonDiscrepant : function(nonDiscrepantSpace) {
			this._mark(nonDiscrepantSpace, "icons:check", 'non-discrepant', 'discrepant');
		},

		unmarkSpace : function(space) {
			var element = Polymer.dom(this.root).querySelector("[tri-record-id='" + space._id + "'] .icon paper-fab");
			element.setAttribute("icon", "");
			if (element.classList.contains("discrepant")) {
				element.classList.remove("discrepant");
			} else if (element.classList.contains("non-discrepant")) {
				element.classList.remove("non-discrepant");
			}
			element.updateStyles();
		},

		_mark : function(space, icon, newStyle, oldStyle) {
			var element = Polymer.dom(this.root).querySelector("[tri-record-id='" + space._id + "'] .icon paper-fab");
			element.setAttribute("icon", icon);
			// ACM check if it's non-discrepant and remove
			if (element.classList.contains(oldStyle)) {
				element.classList.remove(oldStyle);
			}
			element.classList.add(newStyle);
			element.updateStyles();
		},

		_select : function(element, recordId) {
			if (element) {
				var selectedRecord = this.$.spacesTemplate.itemForElement(element);
				this.set('selectedRecord', selectedRecord);
			} else if (recordId > 0) {
				this.$.walkthruListSelector.select(recordId.toString());
			}
		},

		_deselect : function() {
			this.$.walkthruListSelector.selected = -1;
				this.set('selectedRecord', null);
		},

		render : function() {
			this.$.spacesTemplate.render();
		},

		reset : function() {
			// this.$.search.reset();
			this.set('loaded', false);
		},

		_keyPressHandler: function(e) {
			var code = e.keyCode;
			if (code == 13) {
				this.set("_selectedRecordElement", e.target);
			}
		},

		_formatDate: function(date) {
			if (date)
				return new Date(date).toDateString();
			return 'Not Set';
		},

		_formatCondition : function(condition) {
			let parts = condition.split('-');

			if (parts[1])
				return parts[1].trim();

		},

		_formatUrgency : function(urgency) {
			let parts = urgency.split('-');

			if (parts[0])
				return parts[0].trim();

		}
  });
</script>
