<link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html">
<link rel="import" href="../triplat-routing/triplat-routing.html">
<link rel="import" href="../triplat-progress-gauge/triplat-progress-gauge.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../triplat-query/triplat-query.html">
<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../triplat-date-picker/triplat-date-picker.html">
<link rel="import" href="../triplat-table-behavior/triplat-table-behavior.html">

<link rel="import" href="../triblock-page-container-behavior/triblock-page-container-behavior.html">

<link rel="import" href="../tri-loading-indicator/tri-loading-indicator.html">

<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-input/iron-input.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<link rel="import" href="../iron-localstorage/iron-localstorage.html">

<link rel="import" href="../paper-button/paper-button.html">

<link rel="import" href="../triview-space-assessment/tricomp-search-input.html">
<link rel="import" href="uccomp-campus-card.html">

<dom-module id="ucpage-campus-select">

	<style>
		:host {
			@apply(--layout-fit);
			@apply(--layout-vertical);
		}

		.header {
			@apply(--layout-horizontal);
			padding: 20px;
		}

		main {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-center-justified);
			@apply(--layout-relative);
			min-height: 0;
		}

		/*triplat-date-picker {
			height: 300px;
		}*/

		triplat-progress-gauge {
			--triplat-progress-gauge-circle-stroke-color: #C7C7C7;
		}

		.action-button-container {
			padding-left: 20px;
			margin-left: 20px;
			border-left: 1px solid var(--tri-primary-content-accent-color);
			@apply(--layout-horizontal);
			@apply(--layout-center-center);
		}

		.action-button {
			@apply(--layout-vertical);
			@apply(--layout-self-center);
			@apply(--layout-center-justified);
			@apply(--tri-active-button);
			height: 44px;
			font-size: 14px;
			text-transform: none;
			font-weight: bold;
			padding-left: 18px;
			padding-right: 18px;
			margin-right: 0;
			/*--paper-button-flat-keyboard-focus: {
				border: 2px dotted white;
			}*/
		}

		.assessment-card-container {
			@apply(--layout-flex);
			@apply(--layout-scroll);
			align-content: flex-start;
			min-width: 0;
		}

		.assessment-card {
			margin: 20px 0 0 20px;
			box-sizing: border-box;
		}

		@media (min-width: 1560px) {
			.assessment-card {
				width: calc(25% - 25px);
			}

			.search-container {
				width: 500px;
			}
		}

		@media (max-width: 1559px) and (min-width: 1160px) {
			.assessment-card {
				width: calc(33.3333% - 26px);
			}
		}

		@media (max-width: 1159px) and (min-width: 650px) {
			.assessment-card {
				width: calc(50% - 30px);
			}
		}

		@media (max-width: 649px) {
			.assessment-card {
				width: calc(100% - 40px);
			}

			.search-container {
				width: 365px;
			}
		}

		/*div[tri-tbody] {
			@apply(--layout-vertical);
			@apply(--layout-flex);
			min-height: 0;
		}

		div[tri-tr] {
			flex-shrink: 0;
		}*/

		.assessment-col-description {
			@apply(--layout-flex-2);
		}

		.assessment-col-status {
			@apply(--layout-flex);
		}

		.assessment-col-city {
			@apply(--layout-flex);
		}

		.assessment-col-building {
			@apply(--layout-flex);
		}

		.assessment-col-floor {
			@apply(--layout-flex);
		}

		.assessment-col-date {
			@apply(--layout-flex);
		}

		.assessment-header-cell {
			cursor: pointer;
		}

		.assessment-row:hover {
			cursor: pointer;
			background-color: var(--tri-primary-light-color) !important;
		}

		.assessment-table-container {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-scroll);
			background-color: var(--tri-primary-content-background-color);
			min-height: 0;
		}

		.assessment-table {
			box-sizing: border-box;
			width: 100%;
			min-width: 621px;
			/* 100px/col * 6 cols + 21px scrollbar = 621px... had to set this for scrolling to work properly */
		}

		.assessment-table-progress-container {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-center);
		}

		.assessment-table-progress-label {
			@apply(--layout-flex);
			padding-left: 10px;
			min-width: 0;
		}

		.assessment-table-progress-gauge {
			--triplat-progress-gauge-percent-font-size: 12px;
			--triplat-progress-gauge-value-font-size: 14px;
			font-weight: bold;
			width: 50px;
			height: 50px;
		}

		.internet-explorer-fix {
			@apply(--layout-horizontal);
			@apply(--layout-wrap);
			@apply(--layout-start);
			@apply(--layout-start-justified);
		}

		.layout-button {
			@apply(--layout-vertical);
			@apply(--layout-center-center);
			border-right: 1px solid var(--tri-primary-content-accent-color);
			height: 50px;
			color: #4178BE;
			padding-left: 0px;
			padding-right: 20px;
			cursor: pointer;
			margin-right: 20px;
		}

		.layout-icon {
			width: 40px;
			height: 40px;
		}

		.no-assessments-container {
			@apply(--layout-flex);
			@apply(--layout-vertical);
			@apply(--layout-center-center);
		}

		.no-assessments-message {
			font-weight: bold;
			font-size: 1.5em;
			text-align: center;
		}

		.search-container {
			@apply(--layout-horizontal);
			@apply(--layout-flex);
			@apply(--layout-center);
		}

		.sort-icon {
			--iron-icon-height: 16px;
			--iron-icon-width: 16px;
		}

		.sort-icon[icon="sort"] {
			color: var(--ibm-gray-10);
		}

		.accessibility {
			display: none;
		}
	</style>

	<template>

		<triplat-route id="walkthruRoute" name="walkthruAssessment"></triplat-route>
		<triplat-route id="createNewRoute" name="newSpaceAssessment"></triplat-route>

		<triplat-ds name="currentUser" data="{{currentUser}}"></triplat-ds>
		<triplat-ds id="campusesDs" name="campuses" data="{{campuses}}" loading="{{campusesLoading}}">
		</triplat-ds>


		<iron-media-query query="(min-width: 800px)" query-matches="{{_largeScreenWidth}}"></iron-media-query>

		<iron-localstorage id="layoutPreferenceLocalStorage" name="layoutPreference" value="{{layoutPreference}}" use-raw on-iron-localstorage-load-empty="_initializeLayoutPreference" tabindex="0"></iron-localstorage>

		<main id="content" role="main" aria-labelledby="applicationName">
			<tri-loading-indicator show="{{_computeLoading(campusesLoading, campusesReady)}}" hide-background></tri-loading-indicator>

			<div class="assessment-card-container" hidden$="{{_hideAssessmentCards(_tableLayout, campuses.length)}}">
				<div class="internet-explorer-fix">
					<template id="assessmentsTemplate" is="dom-repeat" items="{{campuses}}">
						<uccomp-campus-card class="assessment-card" name="{{item.name}}" on-drill-key-press="_handleCardDrillKeyPress" on-tap="_handleOpenAssessment"></uccomp-campus-card>
					</template>
				</div>
			</div>
		</main>

	</template>
</dom-module>
<script>
	Polymer({

		is: "ucpage-campus-select",

		behaviors: [TriBlockPageContainerBehavior, TriPlatTableBehavior],

		properties: {
			currentUser: Object,

			campuses: Array,

			_currentFilter: String,

			_tableLayout: {
				type: Boolean
			},

			_largeScreenWidth: {
				type: Boolean,
				value: false
			},

			createPermission: {
				type: Boolean
			},

			campusesReady: {
				type: Boolean,
				value: false
			}

		},

		observers: [
			"_handleMySpaceAssessmentsReady(campuses)",
			"_attemptAutoRedirect(campusesReady)",
			"_attemptAutoRedirect(currentUser)",
		],

		ready: function() {
		},

		_pageAttached: function() {
			if (this.campuses) {
				this.$.campusesDs.refresh();
			}
			// this._handleResize();
		},

		_computeLoading: function(campusesLoading, campusesReady) {
			return campusesLoading || !campusesReady;
		},

		_handleOpenAssessment: function(e) {
			// var selectedAssessment = this.$.assessmentsTemplate.itemForElement(e.target);
			var selectedAssessment = e.model.item;

			if (selectedAssessment) {
				this.$.walkthruRoute.navigate({
					campusId: selectedAssessment._id
				});
			}
		},

		_handleMySpaceAssessmentsReady: function(data) {
			var ready = data != null;
			this.set("campusesReady", ready);
		},

		_attemptAutoRedirect: function() {
			if (this.currentUser && this.campusesReady) {

				if (this.currentUser._Admin)
					return;

				let userOrg = this.currentUser.organizationPath;
				for (let i = 0; i < this.campuses.length; ++i) {
					let group = this.campuses[i];

					console.log(userOrg, `\\Organizations\\${group.name}`)
					if (userOrg.startsWith(`\\Organizations\\${group.name}`)) {

						this.$.walkthruRoute.navigate({
							campusId: group._id
						}, true);
						break;
					}
				}
			}
		},

		_hideAssessmentCards: function(tableLayout, campusesLength) {
			return tableLayout || campusesLength == 0;
		},

		_handleCardDrillKeyPress: function(e) {
			var keyCode = e.detail.keyCode;
			if (keyCode == (13 || 32)) {
				this._handleOpenAssessment(e);
			}
		},

		_keyPressHandler: function(event, detail, sender) {
			var code = event.keyCode;
			if (code == 13) {
				this._handleOpenAssessment(event);
			}
		}

	});
</script>
