<link rel="import" href="../triplat-routing/triplat-routing.html">
<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-image/iron-image.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../tri-loading-indicator/tri-loading-indicator.html">
<link rel="import" href="../triplat-icon/triplat-icon.html">
<link rel="import" href="../neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../triblock-page-container-behavior/triblock-page-container-behavior.html">
<link rel="import" href="../iron-localstorage/iron-localstorage.html">

<link rel="import" href="../triview-space-assessment/tricomp-walkthru-behavior.html">

<link rel="import" href="../triview-space-assessment/tricomp-assessment-header.html">
<link rel="import" href="uccomp-walkthru-main.html">
<link rel="import" href="uccomp-infrastructure-details-panel.html">

<link rel="import" href="../triview-space-assessment/tricomp-person-discrepancy-dialog.html">
<link rel="import" href="../triview-space-assessment/tricomp-asset-discrepancy-dialog.html">
<link rel="import" href="../triview-space-assessment/tricomp-prompt.html">
<script type='text/javascript' src='helperfuncs.js'></script>

<dom-module id="ucpage-walkthru">

	<style>
		:host {
			@apply(--layout-fit);
			@apply(--layout-vertical);
			background-color: var(--tri-primary-content-background-color);
			max-width: 100vw;
		}

		main {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
		}

		uccomp-walkthru-main {
			@apply(--layout-flex);
		}

		uccomp-infrastructure-details-panel {
			margin-left: 0px;
			width: 0;
			overflow: hidden;
			transition: 0.25s ease-in-out;
			min-width: 0;
		}

		uccomp-infrastructure-details-panel.has-space {
			width: 400px;
			min-width: 400px;
		}

		/* <!--
		@media (min-width: 1560px) {
			uccomp-infrastructure-details-panel {
				width: 400px;
				-ms-overflow-style: none;
			}
		}

		@media (max-width: 1559px) and (min-width: 1160px) {
			uccomp-infrastructure-details-panel {
				width: 375px;
				-ms-overflow-style: none;
			}
		}

		@media (max-width: 1159px) {
			uccomp-infrastructure-details-panel {
				width: 350px;
				-ms-overflow-style: none;
			}
		} --> */

		#confirmationDialog {
			@apply(--layout-vertical);
		}

		#confirmationDialog .button-container {
			@apply(--layout-horizontal);
			@apply(--layout-self-end);
		}

		#confirmationDialog paper-button {
			@apply(--tri-button);
			margin-left: 20px;
		}

		#personDiscrepancyDialog,
		#assetDiscrepancyDialog {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
		}

		#personDiscrepancyDialog>tricomp-person-discrepancy-dialog,
		#assetDiscrepancyDialog>tricomp-asset-discrepancy-dialog {
			@apply(--layout-fit);
		}

		uccomp-infrastructure-details-panel {
			min-height: 0px;
		}
	</style>
	<template>

		<iron-localstorage id="discardChangesWarningMessageLocalStorage" name="discardChangesWarningMessagePreference" value="{{_hideDiscardChangesWarning}}"></iron-localstorage>

		<triplat-route id="tripageWalkthruWalkthruRoute" name="walkthruAssessment" params="{{assessmentParams}}"></triplat-route>
		<triplat-route id="homeRoute" name="campusSelect"></triplat-route>

		<!-- <triplat-debug message="PAGE WALKTHRU: _selectedRecord" value="{{_selectedRecord}}"></triplat-debug> -->

		<paper-dialog id="personDiscrepancyDialog" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation" aria-label="Person Discrepancy Dialog">
			<tricomp-person-discrepancy-dialog id="personDiscrepancyComp" assessment-id="{{assessmentParams.assessmentId}}" space="{{_selectedRecord}}">
			</tricomp-person-discrepancy-dialog>
		</paper-dialog>

		<paper-dialog id="assetDiscrepancyDialog" entry-animation="slide-from-right-animation" exit-animation="slide-right-animation" aria-label="Asset Discrepancy Dialog">
			<tricomp-asset-discrepancy-dialog id="assetDiscrepancyComp" assessment-id="{{assessmentParams.assessmentId}}" space="{{_selectedRecord}}">
			</tricomp-asset-discrepancy-dialog>
		</paper-dialog>

		<paper-dialog id="confirmationDialog" aria-labelledby="confirmationDialog_h2">
			<tricomp-prompt id="confirmationDialogPrompt" title-label="Warning" message-label="{{_getConfirmationMessage()}}" options="yes-no" always-show>
			</tricomp-prompt>
		</paper-dialog>

		<paper-dialog id="discardChangesWarningDialog" aria-label="Discard changes warning Dialog">
			<tricomp-prompt id="discardChangesWarningPrompt" title-label="Warning" message-label="{{_getDiscardChangesMessage()}}" options="yes-no" checked="{{_hideDiscardChangesWarning}}">
			</tricomp-prompt>
		</paper-dialog>

		<paper-dialog id="deleteRecordWarningDialog" aria-label="Delete record warning Dialog">
			<tricomp-prompt id="deleteRecordWarningPrompt" title-label="Warning" message-label="{{_getDeleteRecordMessage()}}" options="yes-no" checked="{{_hideDeleteRecordWarning}}">
			</tricomp-prompt>
		</paper-dialog>

		<paper-dialog id="deleteBulkRecordsWarningDialog" aria-label="Delete bulk records warning Dialog">
			<tricomp-prompt id="deleteBulkRecordsWarningPrompt" title-label="Warning" message-label="{{_getDeleteBulkRecordsMessage()}}" options="yes-no" checked="{{_hideDeleteBulkRecordsWarning}}">
			</tricomp-prompt>
		</paper-dialog>

		<main role="main" aria-label="Space Selection">
			<uccomp-infrastructure-details-panel class$='{{_detailsClass(_selectedRecord)}}' id="detailsPanel" hidden$="{{closed}}" campus-id="{{assessmentParams.campusId}}" selected-record="{{_selectedRecord}}" assessment-log="{{_selectedRecordLog}}"
				on-save="{{_handleSave}}">
			</uccomp-infrastructure-details-panel>
			<uccomp-walkthru-main id="recordSelector" floor-id="{{assessment.floor.id}}" campus-id="{{assessmentParams.campusId}}" selected-space="{{_selectedRecord}}" closed="{{closed}}">
			</uccomp-walkthru-main>
		</main>

	</template>
</dom-module>
<script>
	Polymer({

		is: "ucpage-walkthru",

		behaviors: [TriBlockPageContainerBehavior, TriCompWalkthruBehavior],

		properties: {

			closed: Boolean,

			space: {
				type: Object,
				notify: false,
				readOnly: false,
				value: {
					_id: ""
				}
			},

			_selectedRecord: {
				type: Object,
				notify: true,
			},
			_selectedRecordLog: Object,


			_isMarkDiscrepant: Boolean,
			_isMarkNonDiscrepant: Boolean,

			_isPersonDiscrepancy: Boolean,
			_isAssetDiscrepancy: Boolean,

			_activatePerformed: Boolean,
			_completePerformed: Boolean,

			_logCommentsUpdated: Boolean,

			_hideDiscardChangesWarning: Boolean,
			_hideDeleteRecordWarning: Boolean,
			_hideDeleteBulkRecordsWarning: Boolean,
		},

		observers: [
		],

		listeners: {
			'detailsPanel.save': '_handleSave',

			'detailsPanel.add-person': '_showAddPersonDialog',
			'detailsPanel.remove-person': '_showRemovePersonDialog',

			'detailsPanel.add-asset': '_showAddAssetDialog',
			'detailsPanel.remove-asset': '_showRemoveAssetDialog',

			'detailsPanel.duplicate-record': '_handleDuplicateRecord',

			'recordSelector.delete-bulk-records': '_openDeleteBulkRecordsWarningDialog',
			'deleteBulkRecordsWarningPrompt.yes': '_handleDeleteBulkRecords',
			'deleteBulkRecordsWarningPrompt.no': '_closeDeleteBulkRecordsWarningDialog',
			'deleteBulkRecordsWarningPrompt.close': '_closeDeleteBulkRecordsWarningDialog',

			'detailsPanel.delete-record': '_openDeleteRecordWarningDialog',
			'deleteRecordWarningPrompt.yes': '_handleDeleteRecord',
			'deleteRecordWarningPrompt.no': '_closeDeleteRecordWarningDialog',
			'deleteRecordWarningPrompt.close': '_closeDeleteRecordWarningDialog',

			'detailsPanel.discard-changes': '_openDiscardChangesWarningDialog',
			'discardChangesWarningPrompt.yes': '_handleDiscardChanges',
			'discardChangesWarningPrompt.no': '_closeDiscardChangesWarningDialog',
			'discardChangesWarningPrompt.close': '_closeDiscardChangesWarningDialog',
		},

		_getDiscardChangesMessage: function() {
			var __dictionary__discardChangesMessage = "Are you sure you want to delete all changes to this space?";
			return __dictionary__discardChangesMessage;
		},

		_getDeleteBulkRecordsMessage: function() {
			var __dictionary__deleteBulkRecordsMessage = "Are you sure you want to delete the checked records? This cannot be undone.";
			return __dictionary__deleteBulkRecordsMessage;
		},

		_getDeleteRecordMessage: function() {
			var __dictionary__deleteRecordMessage = "Are you sure you want to delete this record? This cannot be undone.";
			return __dictionary__deleteRecordMessage;
		},

		_initializeDiscardChangesWarningMessageLocalStorage: function() {
			this.set('_hideDiscardChangesWarning', false);
		},

		_initializeDeleteRecordWarningMessageLocalStorage: function() {
			this.set('_hideDeleteRecordWarning', false);
		},

		_initializeDeleteBulkRecordsWarningMessageLocalStorage: function() {
			this.set('_hideDeleteBulkRecordsWarning', false);
		},

		_handleDiscardChanges: function() {
			this.$.detailsPanel._handleDiscardChanges();
			this._closeDiscardChangesWarningDialog();
		},

		_handleDeleteRecord: function() {
			this.$.recordSelector._handleDeleteRecord();
			this.$.detailsPanel._handleDeleteRecord();
			this._closeDeleteRecordWarningDialog();
		},

		_handleDeleteBulkRecords: function() {
			let items = this.$.recordSelector._handleDeleteBulkRecords();
			this.$.detailsPanel._handleDeleteBulkRecords(items);
			this._closeDeleteBulkRecordsWarningDialog();
		},

		_handleDuplicateRecord: function() {
			this.$.recordSelector._handleDuplicateRecord();
		},

		_openDiscardChangesWarningDialog: function() {
			if (this._hideDiscardChangesWarning) {
				this._handleDiscardChanges();
			} else {
				this.$.discardChangesWarningDialog.open();
			}
		},

		_openDeleteRecordWarningDialog: function() {
			if (this._hideDeleteRecordWarning) {
				this._handleDeleteRecord();
			} else {
				this.$.deleteRecordWarningDialog.open();
			}
		},

		_openDeleteBulkRecordsWarningDialog: function() {
			if (this._hideDeleteBulkRecordsWarning) {
				this._handleDeleteBulkRecords();
			} else {
				this.$.deleteBulkRecordsWarningDialog.open();
			}
		},

		_closeDiscardChangesWarningDialog: function() {
			this.$.discardChangesWarningDialog.close();
		},

		_closeDeleteRecordWarningDialog: function() {
			this.$.deleteRecordWarningDialog.close();
		},

		_closeDeleteBulkRecordsWarningDialog: function() {
			this.$.deleteBulkRecordsWarningDialog.close();
		},

		_handleBack: function() {
			this.$.homeRoute.navigate();
		},

		_showAddPersonDialog: function() {
			this.$.personDiscrepancyComp.reset();
			this.$.personDiscrepancyComp.showAddPage();
			this.$.personDiscrepancyComp.discrepancyType = "Add Person";
			this.$.personDiscrepancyDialog.open();
		},

		_showRemovePersonDialog: function(e) {
			this.$.personDiscrepancyComp.reset();
			this.$.personDiscrepancyComp.showRemovePage();
			this.$.personDiscrepancyComp.discrepancyType = "Remove Person";
			this.$.personDiscrepancyComp.selected = e.detail;
			this.$.personDiscrepancyDialog.open();
		},

		_closePersonDiscrepancyDialog: function() {
			this.$.personDiscrepancyDialog.close();
		},

		_showAddAssetDialog: function() {
			this.$.assetDiscrepancyComp.reset();
			this.$.assetDiscrepancyComp.showAddPage();
			this.$.assetDiscrepancyComp.discrepancyType = "Add Asset";
			this.$.assetDiscrepancyDialog.open();
		},

		_showRemoveAssetDialog: function(e) {
			this.$.assetDiscrepancyComp.reset();
			this.$.assetDiscrepancyComp.showRemovePage();
			this.$.assetDiscrepancyComp.discrepancyType = "Remove Asset";
			this.$.assetDiscrepancyComp.selected = e.detail;
			this.$.assetDiscrepancyDialog.open();
		},

		_getConfirmationMessage: function() {
			var __dictionary__confirmationMessage = "You will no longer be able to make changes after this process. Would you like to continue?";
			return __dictionary__confirmationMessage;
			// this.set('_confirmationMessage', __dictionary__confirmationMessage);
		},

		_closeConfirmationDialog: function() {
			this.$.confirmationDialog.close();
		},

		_pageDetached: function() {
			this.reset();
		},

		reset: function() {
			if (this._selectedRecord) {
				this.set('_selectedRecord', null);
			}

			if (this._lastSelectedRecord) {
				this.set('_lastSelectedRecord', null);
			}

			this.set('closed', false);
			this.$.recordSelector.reset();
			this.$.detailsPanel.reset();
		},

		_detailsClass: function() {
			if (this._selectedRecord)
				return 'has-space';
			return '';
		},

		_handleSave: function(ev) {
			this.$.recordSelector.save(this._selectedRecord);
		},
	});
</script>
