
<dom-module id="json-ds">
	<style>
	</style>
	<template>

	</template>
</dom-module>
<script>
    Polymer({

		is: "json-ds",
        properties: {
            src: {
                type: String,
                value: null
            },
            data: {
                type: Array,
                value: [],
				notify: true,
            },
        },

        ready: function() {
            this._parseData = this._parseData.bind(this);
            fetch(this.src)
                .then(res => {
                    return res.json();
                })
                .then(this._parseData)
        },

        _parseData: function(data) {
            this.set('data', data);
            this.dispatchEvent(new Event('ds-get-complete'));
            // this.dispatchEvent('ds-get-complete')
        }
	});

</script>
