
<dom-module id="regex-filter">
	<style>
	</style>
	<template>

	</template>
</dom-module>
<script>
    Polymer({

		is: "regex-filter",
		properties: {
			input: {
				type: Array,
				notify: true,
				observer : '_handleInputChange'
			},
			output: {
				type: Array,
				notify: true,
			},
			property: String,
			regex: String,
		},

		ready: function() {

		},

		_handleInputChange: function(data) {
			let r = new RegExp(this.regex)
			let output = [];

			this.set('output', []);

			for (let i in this.input) {
				if (r.test(this.input[i][this.property]))
					output.push(this.input[i]);
			}

			this.set('output', output);
		}
	});

</script>
