<!-- <link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html"> -->

<!-- <link rel="import" href="../paper-material/paper-material.html"> -->
<link rel="import" href="./uc-infrastructure-row.html">

<dom-module id="uc-infrastructure-table">
	<style>
		:host {
			--grid-gap: 10px;
			--cell-padding: 10px;

			display: block;
			/* width: 8000px; */
		}

		paper-material {
			padding: 20px;
			background-color: white;
			margin-top: 30px;
		}

		:host uc-infrastructure-row {
			--row-background: red;
		}

        .container {
            /* grid-template-columns:
				[savebutton] auto [copybutton] auto [id] auto  [tristructure] auto [caan] auto [primarySystem] auto [systemLevel4] auto
				[type] auto [grouping] auto [spec-class] auto [campus-asset-id] auto [campus-asset-name] auto [nameplate] auto
				[Driving-Attribute-UOM] auto
				[Driving-Attribute-Value] auto
				[Quanity] auto
				[Year-Installed] auto
				[Specific-Reference-Location] auto
				[Impact-to-Mission] auto
				[Risk-to-Mission] auto
				[Rigor-of-Use] auto
				[Rigor-of-Use] auto
				[Regulatory-Liability] auto
				[Opportunity-Condition] auto
				[Deterioration] auto
				[Opportunity-Function] auto
				[Opportunity-Name] auto
				[Creation-Criteria] 700px
				[Additional-Opportunity-Description-or-Justification] auto
				[Urgency] auto
				[Labor-Cost] auto
				[Material-Cost] auto
				[Equipt-Cost] auto
				[Total-Unit-Price-Cost] auto
				[Complexity-Factor] auto
				[Complexity-Reason] auto
				[General-Conditions] auto
				[Reason] auto
				[Total-Cost] auto; */
            /* grid-gap: var(--grid-gap); */
            display: inline-grid;
        }

		uc-infrastructure-row[type=header] {
			--row-background: #74a1e6;
			--row-color: white;
		}

		uc-infrastructure-row:not([type=header]):nth-child(even) {
			--row-background: #F0F0F0;
			--row-color: black;
		}
	</style>
	<template>


		<!-- Root container for our table -->
		<div id='container' class='container'>
	        <uc-infrastructure-row type='header' columns={{columns}}></uc-infrastructure-row>
	        <template is='dom-repeat' items={{rows}}>
	            <uc-infrastructure-row row-data={{item}} columns={{columns}}></uc-infrastructure-row>
	        </template>
		</div>
	</template>
</dom-module>
<script>
	Polymer({

		is: "uc-infrastructure-table",
        properties: {
			rowData: {
				type: Object,
				value: null
			},

			initialized: {
				type: Boolean,
				value: false,
				observer: '_initializedChanged'
			},
            rows: {
                type: Array,
                value: [],
            },
            columns: {
                type: Array,
                value: []
			}
        },

		_initializedChanged() {
			this.fire('initialized', {});
		},

		attached: function() {
			this.initialized = true;

			let columnsCSS = [];
			for (let i in this.columns) {
				let width = this.columns[i].width;
				width = width || '200px';

				columnsCSS.push(`[${this.columns[i].id}] ${width}`);
			}
			this.$.container.style.gridTemplateColumns = columnsCSS.join(' ');
		},

		copyRow: function(row) {
			let data = cloneData(row.rowData);
			data._id = null;
			let newRow = this.addRow(data, row);
		},

		addRow: function(data, after = null) {
			let row = new UCInfrastructureRow();

			row.columns = this.columns;
			row.set('rowData', data);
			// row.rowData = data;

			if (!after) {
				this.$.container.appendChild(row);
				this.rows.push(data);
			} else {
				let index = this.rows.indexOf(after.rowData);
				this.rows.splice(index, 0, data);
				after.after(row);
			}

			return row;
		},

		deleteRow: function(row) {
			this.$.container.removeChild(row);
		},

		_observeSeveralProperties: function(a,b) {
			console.log(a,b);
		}
	});

	const clone = function clone(orig) {
		let ret = orig.cloneNode(true);

		let lightDom;
		let childNodes;

		if (orig.is && orig.is.toUpperCase() === orig.tagName) {
			lightDom = Polymer.dom(ret);
			childNodes = Polymer.dom(orig).childNodes;
		} else {
			lightDom = ret;
			childNodes = orig.childNodes;
		}

		for (let i = 0; i < childNodes.length; i++) {
			lightDom.appendChild(clone(childNodes[i]));
		}

		return ret;
	};

	const cloneData = function cloneData(obj){
		//in case of premitives
		if(obj===null || typeof obj !== "object"){
			return obj;
		}

		//date objects should be
		if(obj instanceof Date){
			return new Date(obj.getTime());
		}

		//handle Array
		if(Array.isArray(obj)){
			var clonedArr = [];
			obj.forEach(function(element){
				clonedArr.push(cloneData(element))
			});
			return clonedArr;
		}

		//lastly, handle objects
		let clonedObj = new obj.constructor();
		for(var prop in obj){
			if(obj.hasOwnProperty(prop)){
				clonedObj[prop] = cloneData(obj[prop]);
			}
		}

		return clonedObj;
	}

</script>
