<!-- <link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html"> -->

<!-- <link rel="import" href="../paper-material/paper-material.html"> -->

<link rel="import" href="./uc-dropdown.html">

<dom-module id="uc-infrastructure-cell">
	<style>
        :root {
            align-content: center;
            justify-content: center;
			display: flex;
			flex: 1 1 auto;
        }

		:host {
			display: flex;
			background: var(--row-background);
		}

		tr, td {
			padding: 0 !important;
			height: auto !important;
			text-align: center !important;
			border: none !important;
		}

		.prefix {
			padding-top: 31px;
			padding-right: 3px;
		}

		.postfix {
			padding-top: 31px;
			padding-left: 3px;
		}

		paper-input {
			display: inline-block;
			flex: 1 1 auto;
		}

	</style>
	<template>
        <template is='dom-if' if='[[_isEqualTo(column.type, "dropdown")]]'>
            <uc-dropdown id='input' column={{column}} options={{options}} value={{data}}></uc-dropdown>
        </template>

        <template is='dom-if' if='[[_isEqualTo(column.type, "text")]]'>
            <span class='prefix'>{{column.prefix}}</span>
			<paper-input id='input' label={{column.label}} value={{data}} readonly={{column.readOnly}}></paper-input>
			<span class='postfix'>{{column.postfix}}</span>
        </template>

		<template is='dom-if' if='[[_isEqualTo(column.type, "button")]]'>
            <paper-button id='input' on-tap='_onClick'>{{column.label}}</paper-button>
        </template>
		<div id='placeholder'></div>
        <!-- <paper-input label={{column.label}}></paper-input> -->
	</template>
</dom-module>
<script>
	const UCInfrastructureCell = Polymer({

		is: "uc-infrastructure-cell",
        properties: {
            rowData: {
                type: Object,
                value: null
            },
            data: {
                type: String,
                value: null
            },
            column: {
                type: Object,
            },
            options: {
                type: Array,
                value: []
            },
			initialized: {
				type: Boolean,
				value: false
			}
        },


        attached: function() {
			Object.defineProperty(this, 'value', {
				get: this.getValue,
				set: this.setValue
			});

			Object.defineProperty(this, 'label', {
				get: () => {
					return this.getLabel();
				},
				set: (val) => {

				}
			});

            this._onDataRefresh = this._onDataRefresh.bind(this);
            this._setInitialValue = this._setInitialValue.bind(this);

            let parent = Polymer.dom(this).node.parentElement; // TODO: Look into better method of getting parent?

            if (parent.initialized) {
                setTimeout(() => this.initCell(), 0)
                // this.initCell();
            } else {
                parent.addEventListener('initialized', () => {
                    setTimeout(() => this.initCell(), 0)
                    // this.initCell();
				});
            }
            // this._updateData();

			if (this.column.onAttach) {
				let ev = new Event('attach', {
					bubbles: true,
					cancelable: true,
					composed: true
				});

				ev.detail = {
					cell: this
				};

				this.dispatchEvent(ev);
			}
        },

        initCell: function() {
			this._onChange = this._onChange.bind(this);

			let input = this.querySelector('#input');

			if (input)
				input.addEventListener('change', this._onChange);

			this.addEventListener('change', this._onChange);


            if (this.column.readOnly) {
                input.disabled = true;
            }

			if (this.column.type == 'html') {
				let div = document.createElement('div');
				div.innerHTML = this.column.template;

				let nodes = div.querySelectorAll('*');
				nodes.forEach(node => {
					node.classList.add('style-scope');
					node.classList.add('uc-infrastructure-cell');
				})

				this.$.placeholder.appendChild(div);
			}

            if (this.column.dataSource) {
                this.dataSource = this.column.dataSource

                if (this.column.cloneSource) {
                    this.dataSource = clone(this.dataSource);
                    this.appendChild(this.dataSource)
                }

                this.dataSource.addEventListener('ds-get-complete', this._onDataRefresh)

				if (this.dataSource.data) {
					this._onDataRefresh();
					this._setInitialValue();
				} else {
					this.dataSource.addEventListener('ds-get-complete', this._setInitialValue);
				}
            } else {
				// Set initial value immediately, we aren't depending on data.
				this._setInitialValue();
			}

			initialized = true;
        },

		_setInitialValue: function() {
			if (this.dataSource)
				this.dataSource.removeEventListener('ds-get-complete', this._setInitialValue);

			let value = this.rowData[this.column.id];

			if (value) {
				this.data = value;
			}
		},

		_onClick: function(ev) {
			ev.detail = {};
			ev.detail.cell = this;
		},

        _onChange: function(ev) {
			// alert(1);
			console.log('Was changed');

			if (!initialized)
				return;

			this.set(`rowData.${this.column.id}`, this.getValue());
			// this.set('rowData', this.rowData);

			if (!ev.detail)
				ev.detail = {};

            ev.detail.cell = this;
        },

        getValue: function() {
            let input = this.querySelector('#input');

            if (input instanceof UCDropdown) {
                return input.getValue();
            }

			return input.value;
        },

		setValue: function(val) {
			let input = this.querySelector('#input');

            if (input instanceof UCDropdown) {
				// input.get
                // return input.getValue();
            }

			input.value = val;
			this.set(`rowData.${this.column.id}`, val)
			// this.rowData[this.column.id] = val;

		},

		getLabel: function() {
			let input = this.querySelector('#input');

            if (input instanceof UCDropdown) {
                return input.getLabel();
            }

			return input.label;
		},

        _onDataRefresh: function() {
            let items = this.dataSource.data;
            let options = [];

			let row = Polymer.dom(this).node.parentElement;

            items.forEach(item => {

				if (this.column.dataFilter && !this.column.dataFilter.call(this.column, item, row))
					return;

				let value;

				if (typeof this.column.value == 'object') {
					// Object value type (e.g. Classifications)
					value = this._mapValueObject(this.column.value, item);
				} else {
					// Basic key value
					value = item[this.column.value ? this.column.value : '_id']
				}

                options.push({
                    key: item[this.column.key],
                    value: value
                });
            })

            this.options = options;
        },

		_mapValueObject: function(structure, data, obj = {}) {

			for (let i in structure) {
				let dataKey = structure[i]
				let valueKey = i;

				// Recursively scan for hierarchical object
				if (typeof dataKey == 'object') {
					this._mapValueObject(structure[i], data, obj);
					continue;
				} else {
					obj[valueKey] = data[dataKey];
				}
			}

			return obj;
		},

		_isEqualTo: (val, check) => {
			return val == check
		}
	});

</script>
