<!-- <link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html"> -->

<!-- <link rel="import" href="../paper-material/paper-material.html"> -->
<link rel="import" href="./uc-infrastructure-cell.html">

<dom-module id="uc-infrastructure-row">
	<style>
		paper-material {
			padding: 20px;
			background-color: white;
			margin-top: 30px;
		}

		:host {
			display: contents;
		}

		.cell {
			padding: var(--cell-padding);
			background: var(--row-background);
			overflow: hidden;
		}

		.cell.header {
			/* margin-right: -var(--grid-gap); */

			text-align: center;

			justify-self: stretch;
			font-weight: bold;
		}

		span {
			display: block;
			font-size: 80%;
			opacity: 0.8;
			font-weight: normal;
		}

	</style>
	<template>

		<template is='dom-repeat' items="{{columns}}" as='column'>
			<template is='dom-if' if="[[_isEqualTo(type, 'header')]]" restamp>
				<div class='cell header'>
					{{column.label}}<span class='description'>{{column.description}}</span>
				</div>
			</template>
			<template is='dom-if' if="[[!_isEqualTo(type, 'header')]]" restamp>
				<uc-infrastructure-cell row-data={{rowData}} column={{column}} class$='cell id-{{column.id}}'></uc-infrastructure-cell>

				<!-- <div class='cell' >{{item.label}}</div> -->
			</template>
		</template>
		<!-- <template is='dom-if' if="[[_isEqualTo(type, 'header')]]" restamp>
			<div>Structure</div>
			<div>CAAN</div>
			<div>Facilities Project Name</div>
			<div>RS Means Level 3</div>
			<div>RS Means Level 4</div>
		</template>

		<template is='dom-if' if="[[!_isEqualTo(type, 'header')]]" restamp>
			<div>Structure</div>
			<div>CAAN</div>
			<div>Facilities Project Name</div>
			<div>RS Means Level 3</div>
			<div>RS Means Level 4</div>
		</template> -->
	</template>
</dom-module>
<script>
	const UCInfrastructureRow = Polymer({

		is: "uc-infrastructure-row",

		properties: {
			initialized: {
				type: Boolean,
				value: false,
				observer: '_initializedChanged'
			},
			rowData: {
				type: Object,
				value: {}
			},
			type: {
				type: String,
				value: ''
			},

			columns: {
				type: Array,
			}
		},


        observers: [
            '_updateData(rowData.*)'
        ],

		_updateData: function() {

		},

		_initializedChanged() {
			this.fire('initialized', {});
		},

		attached: function() {
			let parent = Polymer.dom(this).node.parentElement.parentElement; // TODO: Look into better method of getting parent?

			if (parent.initialized) {
				this.initRow();
			} else {
				parent.addEventListener('initialized', () => {
					this.initRow();
				});
			}

			this.addEventListener('change', this._onCellChange);
			this.addEventListener('tap', this._onClick);
			this.addEventListener('attach', this._onCellAttach);
		},

		initRow: function() {
			// this.columns.forEach(col => {
			// 	if (col.dataSource && col.cloneSource) {
			// 		console.log(col.dataSource);
			// 	}
			// })

			this.initialized = true;
		},

		enableSave: function() {
			let save = this.getCell('save');

			if (save)
				save.querySelector('#input').disabled = false;
			else {
				setTimeout(() => {
					this.enableSave();
				}, 100)
			}

		},

		disableSave: function() {
			let save = this.getCell('save');

			if (save)
				save.querySelector('#input').disabled = true;
			else {
				setTimeout(() => {
					this.disableSave();
				}, 100)
			}
		},

		getCell: function(cellID) {
			let cell = this.querySelector(`.id-${cellID}`)
			return cell;
		},

		_onCellAttach: function(ev) {
			let cell = ev.detail.cell;

			if (!cell)
				return;

			ev.detail.row = this;

			if (cell.column.onAttach)
				cell.column.onAttach(ev);
		},

		_onCellChange: function(ev) {
			if (!this.initialized)
				return;

			let cell = ev.detail.cell;

			ev.detail.row = this;
			this.enableSave();

			if (cell.column.onChange)
				cell.column.onChange(ev);
		},

		_onClick: function(ev) {

			let cell = ev.detail.cell;

			if (!cell)
				return;

			ev.detail.row = this;

			if (cell.column.onClick)
				cell.column.onClick(ev);
		},

		_isEqualTo: (val, check) => {
			return val == check
		},

		_observeSeveralProperties: function() {

		}
	});
</script>
