
<dom-module id="uc-temp">
	<style>
	</style>
	<template>
        <div>Hi {{dto._id}}</div>

        <triplat-ds id='cstDTOStructure' name='triStructure'>
            <triplat-ds-context name="cstInfrastructureDTO" context-id="{{dto._id}}"></triplat-ds-context>
        </triplat-ds>
	</template>
</dom-module>
<script>
    Polymer({

		is: "uc-temp",
        properties: {
            dto: {
                type: Object,
                value: null
            }
        },

        ready: function() {
            this.$.cstDTOStructure.addEventListener('ds-get-complete', () => {
                if (this.dto._id == ) {
                    this.$.cstDTOStructure.data[0]._id = 18851964;
                    this.$.cstDTOStructure.updateRecord()
                }
            })
        }
	});

</script>
